<!DOCTYPE html>
<html>
<body>


<script>
//    setTimeout(function(){
//
//                    window.location.reload();
//
//                },100);
//window.opener.location.reload(true);
//window.self.close();
//alert('please log in');
//console.log('please log in');
</script>

</body>
</html> 
