
<p>একটি শিক্ষাপ্রতিষ্ঠানের প্রথম ও প্রধান উপাদান হলো শিক্ষার্থী। তাই শিক্ষার্থীর জীবনের
  নিরাপত্তার বিষয়টি আরও গুরুত্বের সঙ্গে বিবেচিত হওয়া উচিত। বাংলাদেশে পানিতে ডুবে
  শিশুমৃত্যুর উচ্চ হারকে মাথায় রেখে প্রয়োজন শিশুদের সাঁতার শেখানোর জন্য বাস্তবসম্মত ও
  সময়োপযোগী পদক্ষেপ। বাংলাদেশে বিভিন্ন এলাকায় বিচ্ছিন্নভাবে বিভিন্ন সময়ে সাঁতার
  শেখানোর নানা উদ্যোগ গ্রহণ করা হয়েছে। যদিও তা প্রয়োজনের তুলনায় নিতান্তই অপ্রতুল।
  ব্র্যাকসহ বিভিন্ন বেসরকারি উন্নয়ন সংস্থা ও প্রতিষ্ঠান শিশু-কিশোরদের সাঁতার শেখানোর
  উদ্যোগ নিয়েছে। তবে যে দেশের মোট জনসংখ্যার প্রায় ৪০ শতাংশই শিশু, সেই দেশের
  বিপুলসংখ্যক শিশুকে সাঁতার শিক্ষায় শিক্ষিত করে তুলতে প্রয়োজন সমন্বিত ও সুদূরপ্রসারী
  পরিকল্পনা।</p>

<p>২০১৫ সালে একবার শিক্ষা মন্ত্রণালয় তৎকালীন মাধ্যমিক, মাদ্রাসা ও কারিগরি বোর্ডের অধীনে
  সব শিক্ষাপ্রতিষ্ঠানে বাধ্যতামূলক সাঁতার শিক্ষা অন্তর্ভুক্ত করা হবে সংক্রান্ত একটি
  পরিপত্র প্রকাশ করে। নিকটবর্তী স্থানে জলাধার না থাকা, পর্যাপ্ত প্রশিক্ষক না থাকা,
  শিক্ষার্থীদের নিরাপত্তাজনিত সমস্যা ইত্যাদি সত্ত্বেও বিষয়টি মাঠপর্যায়ের স্কুলগুলোতে
  ব্যাপক সাড়া ফেলে। কিন্তু পরবর্তী সময়ে এই প্রতিবন্ধকতাগুলো সমাধানের উদ্যোগ গ্রহণ না
  করায় এবং তদারকির অভাবে এমন সুন্দর একটি উদ্যোগ ব্যর্থতায় রূপ নেয়। আর প্রাথমিকে এ
  ধরনের কোনো উদ্যোগ আজও গ্রহণ করা হয়নি। সিআইপিআরবির জরিপ অনুযায়ী রোজ ৪০ জন শিশু-কিশোর
  পানিতে ডুবে মারা যায়, যাদের বয়স ১ থেকে ১৭ বছরের মধ্যে। শুধু শিক্ষার্থীর জন্যই নয়,
  শিক্ষকদের জন্যও চাই সাঁতার শিক্ষার সুযোগ।</p>

<p>বিশ্বের অনেক উন্নত দেশে সাঁতার শিক্ষাকে পাঠ্যসূচির অন্তর্ভুক্ত করা হয়েছে। আমরাও কি
  পারি না প্রাথমিক ও মাধ্যমিক শিক্ষার পাঠ্যসূচিতে সাঁতারকে অন্তর্ভুক্ত করতে? জানি,
  আমাদের অনেক সীমাবদ্ধতা। কিন্তু থেমে থাকলে চলবে কেন! শহরের স্কুলগুলোতে জলাধারের অভাব
  রয়েছে সত্য। কিন্তু গ্রামের স্কুলগুলোতে শিশুদের সাঁতার শিক্ষা নিশ্চিত করতে স্কুল
  কর্তৃপক্ষ, স্থানীয় প্রশাসন এবং শিক্ষা কর্মকর্তার সমন্বয়ে ও প্রয়োজনীয় নির্দেশনায়
  স্থানীয় পুকুর কিংবা জলাশয়ে পালাক্রমে শিশুদের সাঁতার শেখাতে যেতে পারে। শহরের
  স্কুলগুলো শিক্ষার্থীদের জন্য সাঁতারের কোর্স চালু করতে পারে বিভিন্ন সুইমিং পুল
  কর্তৃপক্ষের সঙ্গে সমন্বয়ের মাধ্যমে। এর জন্য বাড়তি ফি আদায় করলেও অভিভাবকেরা আপত্তি
  করবেন বলে মনে হয় না। প্রত্যেক মা-বাবাই চান তাঁর সন্তান সাঁতার জানুক, যা শেখা শহরের
  যান্ত্রিক জীবনে সম্ভব হয়ে ওঠে না।</p>
