<?php
if ($doc_type == 'pdf') {
  ?>
  <object data="data/test.pdf" type="application/pdf" width="300" height="200">
    alt : <a href="data/test.pdf">test.pdf</a>
  </object>
  <?php
} else {
  ?>
  <?= $this->element('/Daak/DaakView/ContentBody/daak_view_content_body_mulpotro_html'); ?>
<?php } ?>