<h3 class="form-section"><?php echo __('Employeer') ?> <?php echo __('Information') ?> Information</h3>
<div class="row">
    <div class="col-md-6">
        <div class="form-group form-horizontal">
            <label class="control-label col-md-5">Permanent Village</label>

            <div class="col-md-6">
                <?php echo $this->Form->input('parmanent_village', array('label' => false, 'class' => 'form-control')); ?>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group form-horizontal">
            <label class="control-label col-md-5 pull-left">Present Village</label>

            <div class="col-md-6">
                <?php echo $this->Form->input('present_village', array('label' => false, 'class' => 'form-control')); ?>
            </div>
        </div>
    </div>
</div><br>
<div class="row">
    <div class="col-md-6">
        <div class="form-group form-horizontal">
            <label class="control-label col-md-5">Permanent Post Office</label>

            <div class="col-md-6">
                <?php echo $this->Form->input('parmanent_postoffice', array('label' => false, 'class' => 'form-control')); ?>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group form-horizontal">
            <label class="control-label col-md-5 pull-left">Present Post office</label>

            <div class="col-md-6">
                <?php echo $this->Form->input('present_postoffice', array('label' => false, 'class' => 'form-control')); ?>
            </div>
        </div>
    </div>
</div><br>
<div class="row">
    <div class="col-md-6">
        <div class="form-group form-horizontal">
            <label class="control-label col-md-5">Permanent Thana</label>

            <div class="col-md-6">
                <?php echo $this->Form->input('parmanent_thana', array('label' => false, 'class' => 'form-control')); ?>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group form-horizontal">
            <label class="control-label col-md-5 pull-left">Present Thana</label>

            <div class="col-md-6">
                <?php echo $this->Form->input('present_thana', array('label' => false, 'class' => 'form-control')); ?>
            </div>
        </div>
    </div>
</div><br>
<div class="row">
    <div class="col-md-6">
        <div class="form-group form-horizontal">
            <label class="control-label col-md-5">Permanent District</label>

            <div class="col-md-6">
                <?php echo $this->Form->input('parmanent_district', array('label' => false, 'class' => 'form-control')); ?>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group form-horizontal">
            <label class="control-label col-md-5 pull-left">Present District</label>

            <div class="col-md-6">
                <?php echo $this->Form->input('parmanent_district', array('label' => false, 'class' => 'form-control',)); ?>
            </div>
        </div>
    </div>
</div>