<h3 class="form-section"><input type="checkbox" id="login_checkbox" name="login_checkbox" value="1">লগইন তথ্য </h3>
<div id="login_div" style="display: none;">
    <div class="row">
        <div class="col-md-6 form-group form-horizontal">
            <label class="control-label">পাসওয়ার্ড</label>
            <?= $this->Form->input('password', ['label' => false, 'class' => 'form-control', 'type' => 'password', 'placeholder' => 'পাসওয়ার্ড','autocomplete' => 'new-password']); ?>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 form-group form-horizontal">
            <label class="control-label">পাসওয়ার্ড নিশ্চিত করুন </label>
            <?= $this->Form->input('confirm_pass', ['label' => false, 'class' => 'form-control', 'type' => 'password', 'placeholder' => 'পাসওয়ার্ড নিশ্চিত করুন ','autocomplete' => 'new-password']); ?>
        </div>
    </div>
</div>

<script type="text/javascript">
    $("#login_checkbox").click(function () {
        if ($(this).is(':checked')) {
            $("#login_div").show('slow');
        }
        else {
            $("#login_div").hide('slow');
        }
    });
</script>
