<div class="note_signature">
  <div class="card-columns">
    <div class="card text-center">
      <img class="card-img-top border-bottom" src="<?= $this->request->webroot ?>coreui/img/sign.png" alt="sign">
      <div class="card-body p-2">
        <p class="card-text">৩-০৩-২০১৯ ১৭:৩৯:৪৭</p>
        <p class="card-text">কোহিনূর বেগম</p>
        <p class="card-text">অফিস সহকারী, ব্যবসা-বাণিজ্য শাখা</p>
      </div>
    </div>
    <div class="card text-center">
      <img class="card-img-top border-bottom" src="<?= $this->request->webroot ?>coreui/img/sign.png" alt="sign">
      <div class="card-body p-2">
        <p class="card-text">৩-০৩-২০১৯ ১৭:৩৯:৪৭</p>
        <p class="card-text">কোহিনূর বেগম</p>
        <p class="card-text">অফিস সহকারী, ব্যবসা-বাণিজ্য শাখা</p>
      </div>
    </div>
    <div class="card text-center">
      <img class="card-img-top border-bottom" src="<?= $this->request->webroot ?>coreui/img/sign.png" alt="sign">
      <div class="card-body p-2">
        <p class="card-text">৩-০৩-২০১৯ ১৭:৩৯:৪৭</p>
        <p class="card-text">কোহিনূর বেগম</p>
        <p class="card-text">অফিস সহকারী, ব্যবসা-বাণিজ্য শাখা</p>
      </div>
    </div>
    <div class="card text-center">
      <img class="card-img-top" src="<?= $this->request->webroot ?>coreui/img/sign.png" alt="sign">
      <div class="card-body p-2">
        <p class="card-text">৩-০৩-২০১৯ ১৭:৩৯:৪৭</p>
        <p class="card-text">কোহিনূর বেগম</p>
        <p class="card-text">অফিস সহকারী, ব্যবসা-বাণিজ্য শাখা</p>
      </div>
    </div>
    <div class="card text-center">
      <img class="card-img-top" src="<?= $this->request->webroot ?>coreui/img/sign.png" alt="sign">
      <div class="card-body p-2">
        <p class="card-text">৩-০৩-২০১৯ ১৭:৩৯:৪৭</p>
        <p class="card-text">কোহিনূর বেগম</p>
        <p class="card-text">অফিস সহকারী, ব্যবসা-বাণিজ্য শাখা</p>
      </div>
    </div>
  </div>
</div>