<hr>
<div class="note_attachment">
  <table class="table table-bordered">
    <tr class="alert-warning">
      <td colspan="4">সংযুক্তি</td>
    </tr>
    <tr>
      <td>1</td>
      <td><a href="#">asdfdsdfs.jpg</a></td>
      <td>Lorem ipsum dolor</td>
      <td><a href="#"><i class="fa fa-download"></i></a></td>
    </tr>
  </table>
</div>
<hr>
