<div style="padding-bottom: 0px; padding-top: .15in; margin: 0 auto;width:7.8in;">

    <?= !empty($potrojari['attached_potro'])?($potrojari['attached_potro']. '<br/>'):'' ?>
    <?= !empty($potrojari['potro_cover'])?($potrojari['potro_cover']. '<br/>'):'' ?>
    <?= $potrojari['potro_description'] ?>
</div>
