<!--Office_sarok-->
<div class="templateWrapper">
    <div class="row customFontSize" style="font-size:13pt">
        <div class="col-md-3 col-xs-3 col-sm-3  text-center"><a
                href="javascript:" class="editable editable-click" id="left_slogan" data-type="textarea"
                data-pk="1">...</a></div>
        <div class="col-md-6 col-xs-6 col-sm-6 text-center customFontSize" style="font-size:13pt"><a href="javascript:" class="editable editable-click" id="dynamic_header" data-type="textarea" data-pk="1">...</a> <br><a href="javascript:"
                                                                                                                                                                                                                            class="editable editable-click"
                                                                                                                                                                                                                            id="gov_name" data-type="text"
                                                                                                                                                                                                                            data-pk="1"> <strong>...</strong>
            </a> <br/> <a href="javascript:" class="editable editable-click" id="office_ministry" data-type="text"
                          data-pk="1">...</a> <br/> <a href="javascript:" class="editable editable-click" id="offices"
                                                       data-type="text" data-pk="1">...</a> <br/> <a
                href="javascript:" class="editable editable-click" id="unit_name_editable" data-type="text"
                data-pk="1">...</a> <br/><a href="javascript:" class="editable editable-click"
                                            id="web_url_or_office_address" data-type="text" data-pk="1"
                                            data-original-title="অফিসের ঠিকানা বা ওয়েবসাইট -এর ঠিকানা লিখুন">...</a><br/><a
                href="javascript:" class="editable editable-click" id="office_address" data-type="text" data-pk="1"
                data-original-title="অফিসের ঠিকানা লিখুন">...</a></div>
        <div class="col-md-3 col-xs-3 col-sm-3 customFontSize" style="font-size:13pt; text-align: center;"><a href="javascript:"
                                                                                                              class="editable editable-click"
                                                                                                              id="right_slogan"
                                                                                                              data-type="textarea"
                                                                                                              data-pk="1">...</a><br/>
            <a href="javascript:" class="editable editable-click" id="potro_priority" data-type="text" data-pk="1"
               data-original-title="স্মারক নম্বর লিখুন"> অতি জরুরী</a> <br/> <a href="javascript:"
                                                                                class="editable editable-click"
                                                                                id="potro_security" data-type="text"
                                                                                data-pk="1"
                                                                                data-original-title="স্মারক নম্বর লিখুন">গোপনীয়</a></div>
    </div>
    <br/>
    <div style="text-align:right;">
        <div class="row customFontSize" style="font-size:13pt">
            <div class="col-md-8 col-xs-8 col-sm-8 customFontSize text-left"
                 style="font-size:13pt"> স্মারক নম্বর: <a href="javascript:" class="editable editable-click"
                                                          id="sharok_no" data-type="text" data-pk="1"
                                                          data-original-title="স্মারক নম্বর লিখুন">...</a></div>
            <div class="col-md-4 col-xs-4 col-sm-4 customFontSize" style="font-size:13pt;"> তারিখ: <a
                    data-original-title="তারিখ বাছাই করুন" data-placement="right" data-pk="1"
                    data-viewformat="dd.mm.yyyy" data-type="date" id="sending_date" href="#"
                    class="editable editable-click">...</a></div>
        </div>
    </div>
    <div class="row customFontSize" style="font-size:13pt">
        <div class="col-md-1 col-xs-1 col-sm-1 customFontSize text-left"
             style="font-size:13pt"> বিষয়:</div>
        <div class="col-md-11 col-xs-11 col-sm-1 customFontSize text-justify" style="font-weight:bold; font-size:13pt"><a
                href="javascript:" class="editable editable-click" id="subject" data-type="text" data-pk="1"
                data-original-title="বিষয় লিখুন">...</a></div>
    </div>
    <div class="row customFontSize" style="font-size:13pt">
        <div class="col-md-1 col-xs-1 col-sm-1 customFontSize text-left" style="font-size:13pt"> সূত্র: </div>
        <div class="col-md-11 col-xs-11 col-sm-11 text-left  customFontSize" style="font-size:13pt"><a href="javascript:"
                                                                                                       class="editable editable-click"
                                                                                                       id="reference" data-type="textarea"
                                                                                                       data-pk="1"
                                                                                                       data-original-title="সূত্র : (যদি থাকে) ">(যদি থাকে) ...</a></div>
    </div>
    <div class="row">
        <div class="col-md-12 col-xs-12 col-sm-12 text-left"><a
                id="pencil" href="#"> <i class="fa fa-pencil"></i> [সম্পাদন করুন] </a> <textarea name="" id="note"
                                                                                                 style="display: none;"></textarea>
            <div data-original-title="Enter notes" data-toggle="manual" data-type="wysihtml5" data-pk="1" id="noteView"
                 class="editable" tabindex="-1" style="display:inline;"><br/>পত্রের বিষয়বস্তু
                -----------------------------------------------------------------<br/> ০২।
                নির্দেশনা/উদ্দেশ্য/বর্ণনা-------------------------------------------------------------------------------------------------------------------------------------------------------------
                নির্দেশক্রমে অনুরোধ করা হইল।
            </div>
        </div>
    </div>
    <div style="text-align: center;">
        <div class="row customFontSize" style="font-size:13pt">
            <div class="col-md-5 col-xs-5 col-sm-5 col-md-offset-7 col-xs-offset-7 col-sm-offset-7 text-center"><span
                    id="sender_signature" data-type="text" data-original-title="Enter signature here"></span> <span
                    id="sender_signature_date"
                    style="            display: block;            font-size: 10px;            text-align: center;"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-xs-6 col-sm-6 text-left"><br/><br/>
                <div id="office_organogram_id"></div>
            </div>
            <div class="col-md-5 col-xs-5 col-sm-5 col-md-offset-1 col-xs-offset-1 col-sm-offset-1 text-center">
                <div class="row customFontSize" style="font-size:13pt">
                    <div class=""><a href="javascript:" class="editable editable-click" id="sender_name"
                                     data-type="text" data-pk="1" data-original-title="Enter sender name here">...</a>
                    </div>
                </div>
                <div class="row customFontSize" style="font-size:13pt">
                    <div class=""><a href="javascript:" class="editable editable-click" id="sender_designation" data-type="text" data-pk="1" data-original-title="Enter sender designation here">...</a></div>
                </div>
                <div class="row">
                    <div class=""> ফোন: <a href="javascript:" class="editable editable-click" id="sender_phone" data-type="text" data-pk="1" data-original-title="Enter sender phone here">...</a></div>
                </div>
                <div class="row">
                    <div class=""> ফ্যাক্স: <a href="javascript:" class="editable editable-click" id="sender_fax"
                                               data-type="text" data-pk="1" data-original-title="Enter sender fax here">...</a></div>
                </div>
                <div class="row">
                    <div class=""> ইমেইল: <a href="javascript:" class="editable editable-click" id="sender_email"
                                             data-type="text" data-pk="1" data-original-title="Enter sender email here"
                                             style="font-size: 11px;">...</a></div>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <div class="row customFontSize" style="font-size:13pt">
        <div class="col-md-8 col-xs-8 col-sm-8 text-left"> স্মারক নম্বর:
            <a href="javascript:" class="editable editable-click" id="sharok_no2" data-type="text" data-pk="1"
               data-original-title=" ">...</a></div>
        <div class="col-md-4 col-xs-4 col-sm-4" style="text-align:right;height:36px;"> তারিখ: <span id="sending_date_2"> ... </span>
        </div>
    </div>
    <div class="row customFontSize" style="font-size:13pt">
        <div class="col-md-11 col-xs-11 col-sm-11 text-left"><a
                href="javascript:" class="editable editable-click" id="getarthe" data-type="text" data-pk="1"
                data-original-title="">সদয় অবগতি ও কার্যার্থে প্রেরণ করা হল:</a> <br/>
            <div id='cc_list_div'></div>
        </div>
    </div>
    <div style="text-align:center;">
        <div class="row">
            <div class="col-md-5 col-xs-5 col-sm-5 col-md-offset-7 col-xs-offset-7 col-sm-offset-7 text-center"><span
                    id="sender_signature2" data-type="text"
                    data-original-title="Enter sender signature here">  </span> <span id="sender_signature2_date"
                                                                                      style="display: block;font-size: 10px;text-align:center;"></span>
                <a href="javascript:" class="editable editable-click" id="sender_name2" data-type="text" data-pk="1"
                   data-original-title="Enter sender name here">...</a> <br/> <a href="javascript:"
                                                                                 class="editable editable-click"
                                                                                 id="sender_designation2"
                                                                                 data-type="text" data-pk="1"
                                                                                 data-original-title="Enter sender designation here">...</a>
            </div>
        </div>
    </div>
</div>