<div class="portlet light">
    <div class="portlet-title">
        <div class="caption"><i class="fs1 a2i_gn_details1"></i>Test page</div>
    </div>
    <div class="portlet-body">
        <?php echo $this->Cell('Potrojari', ['template' => $template_list]) ?>
        
    </div>

</div>
