<div class="form-group">
    <label class="col-sm-4 control-label">Office Organization</label>

    <div class="col-sm-3">
        <?php echo $this->Form->input('office_organization_id', array('label' => false, 'type' => 'text', 'class' => 'form-control')); ?>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-4 control-label">Title in Bangla</label>

    <div class="col-sm-3">
        <?php echo $this->Form->input('title_bng', array('label' => false, 'class' => 'form-control')); ?>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-4 control-label">Title in English</label>

    <div class="col-sm-3">
        <?php echo $this->Form->input('title_eng', array('label' => false, 'class' => 'form-control')); ?>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-4 control-label">Level</label>

    <div class="col-sm-3">
        <?php echo $this->Form->input('level', array('label' => false, 'class' => 'form-control')); ?>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-4 control-label">Sequence</label>

    <div class="col-sm-3">
        <?php echo $this->Form->input('sequence', array('label' => false, 'class' => 'form-control')); ?>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-4 control-label">Parent</label>

    <div class="col-sm-3">
        <?php echo $this->Form->input('parent', array('label' => false, 'class' => 'form-control')); ?>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-4 control-label">Deleted or Not</label>

    <div class="col-sm-3">
        <?php echo $this->Form->input('isdeleted', array('label' => false, 'type' => 'checkbox', 'class' => 'form-control')); ?>
    </div>
</div>
