<div class="d-flex flex-fill">
  <div class="nothi-sidebar">
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content p-3">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
            <div class="input-group-append">
              <button class="btn btn-success" type="button" id="button-addon2">
                <i class="fa fa-search"></i> নোট খুঁজুন
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="list-group list-group-flush">
      <button data-toggle="modal" data-target=".bd-example-modal-lg" class="list-group-item list-group-item-primary">
        <i class="fa fa-search"></i> নোট খুঁজুন
      </button>
      <a href="#" class="list-group-item list-group-item-secondary">সকল নোট</a>
      <a href="#" class="list-group-item list-group-item-danger">নতুন নোট</a>
      <a href="#" class="list-group-item list-group-item-info">১</a>
      <a href="#" class="list-group-item list-group-item-warning">২</a>
    </div>
  </div>
  <div class="nothi-content flex-fill">
    <div class="card border-0 d-flex">

      <div class="card-header d-flex align-items-center">
        <a href="<?= $this->Url->build(["controller" => "Dashboard", "action" => "nothi2"]); ?>"
        class="btn btn-warning"><i class="fa fa-long-arrow-left"></i> আগত নথিতে ফেরৎ যান</a>
        <h3 class="ml-3 mb-0 font-weight-normal">শাখা: ব্যবসা-বাণিজ্য শাখা; নথি নম্বর: ০১.০১.০১০২.০১৮.০২.০০১.১৯;
          বিষয়: ফাইলের মাধ্যমে জিঞ্জাসিত বিষয়গুলো সঙ্গায়ীত</h3>
      </div>
      <div class="card-body-s row no-gutters">
        <div class="col-6">
          <div class="card border-0">
            <div class="card-header d-flex justify-content-between bg-violate-o text-white">
              <h3 class="mb-0">নোটাংশ </h3>

              <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-primary btn-sm"><i class="fa fa-search"></i></button>
                <button type="button" class="btn btn-success btn-sm"><i class="fa fa-search"></i></button>
                <button type="button" class="btn btn-danger btn-sm"><i class="fa fa-search"></i></button>
              </div>
            </div>
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
        </div>
        <div class="col-6 border-left">
          <div class="card border-0">
            <div class="card-header d-flex justify-content-between bg-violate-o text-white">
              <h3 class="mb-0">পত্রাংশ </h3>

              <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-primary btn-sm"><i class="fa fa-search"></i></button>
                <button type="button" class="btn btn-success btn-sm"><i class="fa fa-search"></i></button>
                <button type="button" class="btn btn-danger btn-sm"><i class="fa fa-search"></i></button>
              </div>
            </div>
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>