<div class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-4 control-label"><?php echo __('Batch') ?> <?php echo __('Number') ?></label>

        <div class="col-sm-3">
            <?php echo $this->Form->input('batch_no', array('label' => false, 'class' => 'form-control')); ?>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label"><?php echo __('Batch Year') ?></label>

        <div class="col-sm-3">
            <?php echo $this->Form->input('batch_year', array('label' => false, 'class' => 'form-control')); ?>
        </div>
    </div>
</div>