
<?php 
if(!empty($data)){
    foreach($data as $key=>$value){
     

?>
<tr style="text-align: center;">
    <td style="font-weight: bold;"><?= $value['name'];?></td>
    <td><?= \Cake\I18n\Number::format($value['total']);?></td>
    <td><?= \Cake\I18n\Number::format($value['mail']);?></td>
    <td><?= \Cake\I18n\Number::format($value['nisponnodak']);?></td>
    <td><?= \Cake\I18n\Number::format($value['onisponnodak30']);?></td>
    
</tr>
<?php     }
}
?>