/*
	 CSS-Tricks Example
	 by Chris Coyier
	 http://css-tricks.com
*/

*	{ 
  margin: 0; 
  padding: 0; 
}
body { 
  font: 14px Georgia, serif; 
}
h1 {
  font: 32px Georgia, Serif;
  margin: 0 0 20px 0;
}
p {
  margin: 0 !important;
  text-align:left !important;
  padding:5px 15px;
  font-size:9.5pt!important;
}
#page-wrap { 
  width: 100%;
  background-color: white !important;
  text-align: left !important;
}
.spacer { 
  height: 600px; 
}
table {
  border-collapse: collapse;
}
th { 
  background-color: lightgrey; 
  padding: 10px; 
  width: 200px; 
  text-align: left;
}
tr:nth-child(odd) {
  background: #eee;
}
td { 
  padding: 10px; 
  width: 200px; 
}

.some-other-area {
  /*margin: 300px 0;*/
  line-height: 2;
}
h2 {
  background: lightgrey;
  padding: 10px;
  font: 28px Georgia, Serif;
  margin: 0 0 20px 0;
}
.persist-header {
  z-index: 10;
  position: relative;
  padding: 5px;
  background-color: #4b8df8 !important;
  color: white !important;
  margin: 0 !important;
}