<div class="form-actions">
    <div class="row">
        <div class="col-md-offset-4 col-md-9">
            <button type="button" class="btn   blue">Submit</button>
            <button type="reset" class="btn   default">Reset</button>
        </div>
    </div>
</div>