<!--Need This-->
<a href="javascript:;" class="page-quick-sidebar-toggler"><i class="icon-login"></i></a>

<div class="page-quick-sidebar-wrapper">
    <div class="page-quick-sidebar">
        <div class="nav-justified">
            <ul class="nav nav-tabs nav-justified">
                <li class="active">
                    <a href="#quick_sidebar_tab_1" data-toggle="tab">
                        ডাক <span class="badge badge-danger dakcoun"></span>
                    </a>
                </li>
                <li>
                    <a href="#quick_sidebar_tab_2" data-toggle="tab">
                        নথি <span class="badge badge-success nothicoun"></span>
                    </a>
                </li>
               
            </ul>
            <div class="tab-content">
                <div class="tab-pane active page-quick-sidebar-chat" id="quick_sidebar_tab_1">
                    <div class="page-quick-sidebar-chat-users" data-rail-color="#ddd" data-wrapper-class="page-quick-sidebar-list">
                        
                       
                    </div>
                    
                </div>
                <div class="tab-pane page-quick-sidebar-alerts" id="quick_sidebar_tab_2">
                    <div class="page-quick-sidebar-alerts-list">
                        
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>