.color-tools a {
    border: 1px solid black;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: black;
    font-weight: bold;
}

.portlet{
    margin-bottom: 0px;
}

#datatable_dak td, #datatable-nothi-masters td{
    word-break:break-word;
    word-wrap:break-word
}


#sovapoti_signature, #sender_signature, #sender_signature2, #sender_signature3,#sender_signature4,#sender_signature5{
    height: 50px!important;
}

#sovapoti_signature img, #sender_signature img, #sender_signature2 img, #sender_signature3 img
,#sender_signature4 img,#sender_signature5 img{
    height: 50px!important;
}


.btn{
    font-size: 11pt;
}

.inbox tr,.table thead tr th {
    font-size: 13pt;
}

.nav-tabs > li > a, .nav-pills > li > a {
    font-size: 12pt;
}
.dataTables_extended_wrapper div.dataTables_length label,.paging_bootstrap_extended{
    font-size: 13pt;
}

.tab-content{
    background: rgb(250, 255, 243);
    border: 1px solid #ddd;
    border-top: 0px;
    padding: 5px;
    padding-top: 10px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    background: rgba(234, 255, 207, 0.26);
}
.inbox .inbox {
    margin-bottom: -1px;
}

.nav-tabs, .nav-pills{
    margin-bottom: 0px;
}

.input-sm{
    height:30px;
}

#subject{
    word-break:break-word;
    word-wrap:break-word
}