<h3 class="form-section">Name and Family</h3>
<div class="row">
    <div class="col-md-6">
        <div class="form-group form-horizontal">
            <label class="control-label col-md-5">Full Name in English</label>

            <div class="col-md-6">
                <?php echo $this->Form->input('fullname_eng', array('label' => false, 'class' => 'form-control', 'placeholder' => 'Your Name in English')); ?>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group form-horizontal">
            <label class="control-label col-md-5 pull-left">Full Name in Bangla</label>

            <div class="col-md-6">
                <?php echo $this->Form->input('fullname_bng', array('label' => false, 'class' => 'form-control', 'placeholder' => 'Your Name in Bangla')); ?>
            </div>
        </div>
    </div>
</div><br>
<div class="row">
    <div class="col-md-6">
        <div class="form-group form-horizontal">
            <label class="control-label col-md-5">Father Name in English</label>

            <div class="col-md-6">
                <?php echo $this->Form->input('fathername_eng', array('label' => false, 'class' => 'form-control', 'placeholder' => 'Father Name in English')); ?>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group form-horizontal">
            <label class="control-label col-md-5 pull-left">Father Name in Bangla</label>

            <div class="col-md-6">
                <?php echo $this->Form->input('fathername_bng', array('label' => false, 'class' => 'form-control', 'placeholder' => 'Father Name in Bangla')); ?>
            </div>
        </div>
    </div>
</div><br>
<div class="row">
    <div class="col-md-6">
        <div class="form-group form-horizontal">
            <label class="control-label col-md-5">Mother Name in English</label>

            <div class="col-md-6">
                <?php echo $this->Form->input('mothername_eng', array('label' => false, 'class' => 'form-control', 'placeholder' => 'Mother Name in English')); ?>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group form-horizontal">
            <label class="control-label col-md-5 pull-left">Mother Name in Bangla</label>

            <div class="col-md-6">
                <?php echo $this->Form->input('mothername_bng', array('label' => false, 'class' => 'form-control', 'placeholder' => 'Mother Name in Bangla')); ?>
            </div>
        </div>
    </div>
</div><br>
<div class="row">
    <div class="col-md-6">
        <div class="form-group form-horizontal">
            <label class="control-label col-md-5">Spouse Name in English</label>

            <div class="col-md-6">
                <?php echo $this->Form->input('spouse_name_eng', array('label' => false, 'class' => 'form-control', 'placeholder' => 'Spouse Name in English')); ?>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group form-horizontal">
            <label class="control-label col-md-5 pull-left">Spouse Name in English</label>

            <div class="col-md-6">
                <?php echo $this->Form->input('spouse_name_bng', array('label' => false, 'class' => 'form-control', 'placeholder' => 'Spouse Name in Bangla')); ?>
            </div>
        </div>
    </div>
</div>