<link rel="stylesheet" type="text/css"
      href="<?php echo CDN_PATH; ?>assets/global/plugins/bootstrap-toastr/toastr.min.css"/>
<link rel="stylesheet" type="text/css" href="<?php echo CDN_PATH; ?>projapoti-nothi/css/styles.css"/>
<link rel="stylesheet" type="text/css" href="<?php echo CDN_PATH; ?>assets/global/plugins/select2/select2.css"/>
<style>
    .portlet-body img {
        max-width: 100%;
        height: auto;
    }

    .potroview {
        margin: 0 auto;
    }

    div.potroAccordianPaginationBody {
        display: none;
    }

    div.potroAccordianPaginationBody.active {
        display: block;
    }

    a {
        cursor: pointer;
    }

    .editable {
        border: none;
        word-break: break-word;
    }

    #potrodraft_list #sovapoti_signature, #potrodraft_list #sender_signature, #potrodraft_list #sender_signature2, #potrodraft_list #sender_signature3 {
        visibility: hidden;
    }

    table {
        width: 100% !important;
    }

    .bangladate {
        border-bottom: 1px solid #000;
    }

    .btn-changelog, .btn-forward-nothi, .btn-nothiback, .btn-print, .btn-approve {
        padding: 3px 5px !important;
        border-width: 1px;
    }

    .editable {
        border: none !important;
        word-break: break-word;
        word-wrap: break-word
    }

    #sovapoti_signature, #sender_signature, #sender_signature2, #sender_signature3 {
        visibility: hidden;
    }

    #note {
        overflow: hidden;
        word-break: break-word;
        word-wrap: break-word;
        height: 100%;
    }
</style>
<style>
    .editable-click, a.editable-click {
        border: none;
        word-break: break-word;
        word-wrap: break-word
    }

    .cc_list {
        white-space: pre-wrap;
    }

    .popover-content {
        padding: 10px 30px;
    }

    .mega-menu-dropdown > .dropdown-menu {
        top: 10px !important;
    }
</style>

<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <?php echo "শাখা: " . $officeUnitsName . "; নথি নম্বর: " . $nothiRecord['nothi_no'] . '; বিষয়: ' . $nothiRecord['subject']; ?>
        </div>

        <div class="actions">
            <?php if ($privilige_type == 1) { ?>
                <a title=" প্রেরণ  করুন" nothi_office="<?php echo $nothi_office ?>"
                   nothi_master_id="<?php echo $nothimasterid ?>" class=" btn    purple btn-forward-nothi">
                    <i class="fs1 a2i_gn_send2"></i> &nbsp; প্রেরণ করুন
                </a>
            <?php } ?>
            <a title="নথিতে ফেরত যান" class=" btn   btn-primary btn-nothiback"
               href="<?php echo $this->Url->build(['_name' => 'noteDetail', $nothimasterid, $nothi_office]) ?>">
                <i class="fs1 a2i_gn_details1"></i> নথিসমূহ
            </a>

        </div>

    </div>
    <div class="portlet-body">
        <div class="row ">
            <div class="col-md-12 " style="margin: 0 auto;">
                <?php // if ($privilige_type == 1) {  ?>
                <div class="form">

                    <?php echo $this->Form->create('',
                        array('onsubmit' => 'return false;', 'type' => 'file', 'id' => 'potrojariDraftForm')); ?>
                    <?php
                    echo $this->Form->hidden('id');
                    ?>

                    <div class="row form-group">
                        <div class="col-lg-12">

                            <div class="tabbable-custom nav-justified">
                                <ul class="nav nav-tabs nav-justified">
                                    <li class="active">
                                        <a href="#tab_1_1_1" data-toggle="tab">
                                            কভার পাতা</a>
                                    </li>
                                    <li>
                                        <a href="#tab_1_1_2" data-toggle="tab">
                                            সার-সংক্ষেপ পাতা </a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab_1_1_1">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div id="template-body"
                                                     style="max-width: 950px;min-height: 815px;    height: auto;    margin: 20px auto;    padding-bottom: 50px;    display: block;    background-color: rgb(255, 255, 255);    border: 2px solid #E6E6E6; <?php echo !empty($mainpotro)
                                                         ? "" : "display:none;" ?>">
                                                    <?php echo !empty($mainpotro)
                                                        ? $mainpotro->potro_cover : '' ?>
                                                </div>
                                            </div>
                                            <textarea id="contentbody" name="contentbody"
                                                      style="display: none"></textarea>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="tab_1_1_2">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div id="template-body2"
                                                     style="max-width: 950px;min-height: 815px;    height: auto;    margin: 20px auto;    padding-bottom: 50px;    display: block;    background-color: rgb(255, 255, 255);    border: 2px solid #E6E6E6; <?php echo !empty($mainpotro)
                                                         ? "" : "display:none;" ?>">
                                                    <?php echo !empty($mainpotro)
                                                        ? $mainpotro->content_body : '' ?>
                                                </div>
                                            </div>
                                            <textarea id="contentbody2" name="contentbody2"
                                                      style="display: none"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <?php echo $this->Form->end(); ?>
                    <?php if ($privilige_type == 1 && $can_approve && $approved == 0): ?>
                        <div class="form-actions text-center">
                            <input type="checkbox" class="hide checkbox btn-approve" checked="checked"/>
                                    <input type="button" class="btn btn-primary saveDraftNothi" value="<?php echo __(SAVE) ?>"/>
                            </div>
                        </div>
                    <?php endif; ?>

                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-12">
                                <h3> <?php echo __(SHONGJUKTI) ?> </h3>

                                <!-- The table listing the files available for upload/download -->
                                <table role="presentation" class="table table-striped clearfix">
                                    <tbody class="files">
                                    <?php
                                    if (isset($attachments) && count($attachments)
                                        > 0) {
                                        foreach ($attachments as $single_data) {
                                            if ($single_data['attachment_type']
                                                == 'text' || $single_data['attachment_type']
                                                == 'text/html') continue;

                                            $fileName = explode('/',
                                                $single_data['file_name']);
                                            $attachmentHeaders = get_file_type($single_data['file_name']);
                                            $value = array(
                                                'name' => urldecode($fileName[count($fileName)
                                                - 1]),
                                                'thumbnailUrl' => $this->request->webroot . 'content/' . $single_data['file_name'],
                                                'size' => '-',
                                                'type' => $attachmentHeaders,
                                                'url' => $this->request->webroot . 'content/' . $single_data['file_name']
                                            );

                                            echo '<tr class="template-download fade in">
    <td>
    <input type="checkbox" name="delete" value="1" class="toggle">
    <span class="preview">
    ' . (isset($value['thumbnailUrl']) ? '<a href="' . $value['url'] . '" title="' . $value['name'] . '" download="' . $value['url'] . '" data-gallery><img style="width:50px;height:50px;" src="' . $value['thumbnailUrl'] . '"></a>'
                                                    : '') . '
    </span>
    </td>
    <td>
    <p class="name">
    ' . (isset($value['name']) ? '<a href="' . $value['url'] . '" title="' . $value['name'] . '" download="' . $value['name'] . '" data-gallery="">' . $value['name'] . '</a>'
                                                    : '') . '
    </p>
    </td>
    <td>
    ' . (isset($value['size']) ? '<span class="size">' . $value['size'] . '</span>' : '') . '
    </td>
  
    </tr>';
                                        }
                                    }
                                    ?>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<?php if ($privilige_type == 1): ?>
    <datalist id="selectReason">
        <option value="অনুমোদন করা হলো">অনুমোদন করা হলো</option>
    </datalist>
    <div id="responsiveNothiUsers" class="modal fade modal-purple" tabindex="-1" aria-hidden="true" data-backdrop="static"
         data-keyboard="false">
        <div class="modal-dialog modal-full">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">পরবর্তী কার্যক্রমের জন্য প্রেরণ করুন</h4>
                </div>
                <div class="modal-body">
                    <div class="scroller" style="height:100%" data-always-visible="1" data-rail-visible1="1">
                        <input type="hidden" name="nothimasterid"/>

                        <div class="user_list">

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="btn-group btn-group-round">
                        <button type="button" class="btn green sendDraftNothi">প্রেরণ করুন</button>
                        <button type="button" data-dismiss="modal" class="btn  btn-danger">
                            বন্ধ করুন
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="responsivepotalaLog" class="modal fade" tabindex="-1" aria-hidden="true" data-backdrop="static"
         data-keyboard="false">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">সংলাগ</h4>
                </div>
                <div class="modal-body" style="background-color: #828282;">
                    <div class="scroller" style="height:100%; max-height: 500px;" data-always-visible="1"
                         data-rail-visible1="1">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="modalSiddhanto" class="modal fade modal-purple height-auto" tabindex="-1" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">সিদ্ধান্ত গ্রহণ</h4>
                </div>
                <div class="modal-body">
                    <input type="text" id="siddhanto" list="selectReason" class="form-control" placeholder="মাননীয় প্রধানমন্ত্রী আপনি কিছু লিখতে চান?">
                </div>
                <div class="modal-footer">
                    <div class="btn-group btn-group-round">
                        <input type="button" class="btn btn-primary saveDraftNothi" value="<?php echo __(SAVE) ?>"/>
                        <button type="button" data-dismiss="modal" class="btn  btn-danger">বন্ধ করুন</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="<?php echo $this->request->webroot; ?>projapoti-nothi/js/nothi_master_movements.js"></script>
    <link rel="stylesheet" type="text/css" href="<?php echo CDN_PATH; ?>assets/global/plugins/bootstrap-toastr/toastr.min.css"/>
    <script src="<?php echo CDN_PATH; ?>assets/global/plugins/bootstrap-toastr/toastr.min.js"></script>
    <script src="<?php echo CDN_PATH; ?>assets/admin/pages/scripts/ui-toastr.js"></script>
    <script src="<?php echo CDN_PATH; ?>assets/global/plugins/select2/select2.js" type="text/javascript"></script>
    <script type="text/javascript" src="<?php echo CDN_PATH; ?>assets/global/plugins/jquery.mockjax.js"></script>
    <script src="<?php echo CDN_PATH; ?>assets/admin/pages/scripts/form-editable.js"></script>


    <script>
        var numbers = {
            1: '১',
            2: '২',
            3: '৩',
            4: '৪',
            5: '৫',
            6: '৬',
            7: '৭',
            8: '৮',
            9: '৯',
            0: '০'
        };

        function replaceNumbers(input) {
            var output = [];
            for (var i = 0; i < input.length; ++i) {
                if (numbers.hasOwnProperty(input[i])) {
                    output.push(numbers[input[i]]);
                } else {
                    output.push(input[i]);
                }
            }
            return output.join('');
        }

        var DRAFT_FORM = {
            setform: function () {

                /*if ($('#siddhanto').val().length == 0) {
                    $('#potrojariDraftForm').find('#ministry_note').remove();
                } else {
                    $('#template-body2').find('#ministry_note').replaceWith("<div id='ministry_note' >" + $('#siddhanto').val() + "</div>");
                }*/

                var templatebody = $('#template-body2').html();
                $('#contentbody2').text(templatebody);

                var templatebody = $('#template-body').html();
                $('#contentbody').text(templatebody);
            }
        };

        $(function () {
            NothiMasterMovement.init('nothing');
            $('select').select2();
            <?php if ($privilige_type == 1 && $can_approve ): //&& $approved == 0 ?>
            sayWhoCan();

            function sayWhoCan() {
                if ($('#potrojariDraftForm').find('#ministry_note').length == 0) {
                    $('#<?= $position_number ?>').before('<div class="col-md-12 col-xs-12 col-sm-12 text-center"> <a href="javascript:;" class="editable" id="ministry_note" data-type="text" data-pk="1" data-original-title="মাননীয় প্রধানমন্ত্রী আপনি কিছু লিখতে চান?" title="মাননীয় প্রধানমন্ত্রী আপনি কিছু লিখতে চান?" style="cursor: pointer">...</a></div>');
                } else {
                    $('#potrojariDraftForm').find('#ministry_note').attr('title', 'মাননীয় প্রধানমন্ত্রী আপনি কিছু লিখতে চান?').editable();
                }
            }
            $(document).off('click','#ministry_note').on('click','#ministry_note',function(e){
                e.preventDefault();
                var popoverId = $(this).attr('aria-describedby');
                $("#"+popoverId).find('input').attr('list', 'selectReason');
                if ($("#"+popoverId).find('input').val() == '...') {
                    $("#" + popoverId).find('input').val('');
                }
                //$('#modalSiddhanto').modal('show');
            });

            $.fn.editableform.buttons  = ''+
                '<button type="submit" class="btn btn-primary editable-submit editable-only-save" title="সংরক্ষণ করুন"><i class="fa fa-check"></i></button>'+
                '<button type="button" class="btn btn-danger editable-cancel" title="বন্ধ করুন" style="margin-left: 0px;"><i class="fa fa-times"></i></button>'+
                '<button type="submit" class="btn purple editable-submit editable-send-it" title="সংরক্ষণ ও প্রেরণ করুন" style="margin-left: 0px;"><i class="fs1 a2i_gn_send2"></i></button>';

            $('.editable').editable({pk:$(this).attr("pk")});

            $(document).delegate(".editable-only-save",'click',function(e){
                setTimeout(function() {
                    saveDraftNothiAndSend(0);
                }, 2000);
            });

            $(document).delegate(".editable-send-it",'click',function(e){
                setTimeout(function() {
                    saveDraftNothiAndSend(1);
                }, 500);
            });

        <?php endif; ?>
        });

        $(document).off('click', '.songlapbutton').on('click', '.songlapbutton', function () {
            $('#responsivepotalaLog').modal('show');
            $('#responsivepotalaLog').find('.scroller').html('<img src="' + js_wb_root + 'assets/global/img/loading-spinner-grey.gif" alt="" class="loading"> <span>&nbsp;&nbsp;লোড হচ্ছে। একটু অপেক্ষা করুন... </span>');

            var id = $(this).attr('id');
            var url = $(this).data('url');
            var type = $(this).data('type');
            var officeid = parseInt($(this).data('nothi-office'));

            if(typeof(id)!='undefined'){
                $.ajax({
                    url: '<?php echo $this->Url->build(['controller' => 'NothiMasters', 'action' => 'showSonglap']) ?>/' + id + '/' + officeid,
                    method: 'post',
                    dataType: 'json',
                    cache: false,
                    success: function (response) {

                        var attachmenttype = response.attachment_type;
                        if (response.attachment_type == 'text') {
                            $('#responsivepotalaLog').find('.scroller').html('<div style="background-color: #fff; max-width:950px; min-height:815px; margin:0 auto; page-break-inside: auto;">' + response.potro_cover + "<br/>" + response.content_body + "</div>");
                        } else if ((attachmenttype.substring(0, 15)) == 'application/vnd' || (attachmenttype.substring(0, 15)) == 'application/ms') {
                            $('#responsivepotalaLog').find('.scroller').html('<iframe style=" width:100%; height: 700px;" src="https://docs.google.com/gview?url=' + encodeURIComponent('<?php echo FILE_FOLDER ?>' + response.file_name) + '&embedded=true" style="width:600px; height:500px;" frameborder="0"></iframe>');

                        } else if ((attachmenttype.substring(0, 5)) != 'image') {
                            $('#responsivepotalaLog').find('.scroller').html('<embed src="' + '<?php echo $this->request->webroot . 'content/' ?>' + response.file_name + '" style=" width:100%; height: 700px;" type="' + response.attachment_type + '"></embed>');
                        } else {
                            $('#responsivepotalaLog').find('.scroller').html('<div class="text-center"><a href="' + '<?php echo $this->request->webroot . 'content/' ?>' + response.file_name + '" data-gallery="multiimages"  data-toggle="lightbox" data-title="পত্র নম্বর:  ' + response.nothi_potro_page_bn + '" data-footer="" ><img class="zoomimg img-responsive"  src="' + '<?php echo $this->request->webroot . 'content/' ?>' + response.file_name + '" alt="ছবি পাওয়া যায়নি"></a></div>');
                        }
                    },
                    error: function (err, status, rspn) {
                        $('#responsivepotalaLog').find('.scroller').html('');
                    }
                })
            }
            else if(typeof(url)!='undefined'){
                if ((type.substring(0, 15)) == 'application/vnd' || (type.substring(0, 15)) == 'application/ms') {
                    $('#responsivepotalaLog').find('.scroller').html('<iframe style=" width:100%; height: 700px;" src="https://docs.google.com/gview?url=' + url + '&embedded=true" style="width:600px; height:500px;" frameborder="0"></iframe>');

                } else if ((type.substring(0, 5)) != 'image') {
                    $('#responsivepotalaLog').find('.scroller').html('<embed src="' + url + '" style=" width:100%; height: 700px;" type="' + type + '"></embed>');
                } else {
                    $('#responsivepotalaLog').find('.scroller').html('<div class="text-center"><a href="' + url + '" data-gallery="multiimages"  data-toggle="lightbox" data-title="সংলাগ" data-footer="" ><img class="zoomimg img-responsive"  src="' + url + '" alt="সংলাগ পাওয়া যায়নি"></a></div>');
                }
            }
        });

    </script>

    <!-- End: JavaScript -->
    <!-- The blueimp Gallery widget -->
    <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" data-filter=":even">
        <div class="slides">
        </div>
        <h3 class="title"></h3>
        <a class="prev">
            ÔøΩ </a>
        <a class="next">
            ÔøΩ </a>
        <a class="close white">
        </a>
        <a class="play-pause">
        </a>
        <ol class="indicator">
        </ol>
    </div>
    <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
    <script id="template-upload" type="text/x-tmpl">
        {% for (var i=0, file; file=o.files[i]; i++) { %}
        <tr class="template-upload fade">
        <td>
        <span class="preview"></span>
        </td>
        <td>
        <p class="name">{%=file.name%}</p>
        <strong class="error label label-danger"></strong>
        </td>
        <td>
        <p class="size">প্রক্রিয়াকরন চলছে...</p>
        <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
        <div class="progress-bar progress-bar-success" style="width:0%;"></div>
        </div>
        </td>
        <td>
        {% if (!i && !o.options.autoUpload) { %}
        <button class="btn blue start" disabled>
        <i class="fa fa-upload"></i>
        <span>আপলোড করুন</span>
        </button>
        {% } %}
        {% if (!i) { %}
        <button class="btn red cancel">
        <i class="fa fa-ban"></i>
        <span>বাতিল করুন</span>
        </button>
        {% } %}
        </td>
        </tr>
        {% } %}


    </script>
    <!-- The template to display files available for download -->
    <script id="template-download" type="text/x-tmpl">
        {% for (var i=0, file; file=o.files[i]; i++) { %}
        <tr class="template-download fade">
        <td>

        <span class="preview">
        {% if (file.thumbnailUrl) { %}
        <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>
        {% } %}
        </span>
        </td>
        <td>
        <p class="name">
        {% if (file.url) { %}
        <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
        {% } else { %}
        <span>{%=file.name%}</span>
        {% } %}
        </p>
        {% if (file.error) { %}
        <div><span class="label label-danger"> ত্রুটি: </span> {%=file.error%}</div>
        {% } %}
        </td>
        <td>
        <span class="size">{%=o.formatFileSize(file.size)%}</span>
        </td>

        </tr>
        {% } %}


    </script>
    <script src="<?php echo CDN_PATH ?>assets/global/plugins/bootbox/bootbox.min.js" type="text/javascript"></script>
    <script>
        function saveOnucced(is_send_now = 1, prevNoteId = 0) {
            if ($('#potrojariDraftForm').find('#ministry_note').length > 0) {
                $.ajax({
                    url: '<?= $this->Url->build(['controller' => 'NothiNoteSheets',
                        'action' => 'saveNote']) ?>',
                    data: {
                        id: prevNoteId,
                        nothimasterid:<?= $nothiRecord['id'] ?>,
                        body: $('#potrojariDraftForm').find('#ministry_note').html(),
                        notesheetid:<?= $notesheedid['nothi_notesheet_id'] ?>,
                        notesubject: '',
                        nothi_office:<?= $nothi_office ?>,
                        notedecision: ''
                    },
                    type: 'POST',
                    async: false,
                    cache: false,
                    success: function (response) {
                        if (response.data > 0) {
                            $('#potrojariDraftForm').find('#ministry_note').attr("data-id", response.data);
                            toastr.success("সংরক্ষণ করা হয়েছে");
                        }

                        if (is_send_now == 1) {
                            $('.btn-forward-nothi').trigger('click');
                            //window.location.href = '<?php echo $this->Url->build(['_name' => 'noteDetail', $nothimasterid, $nothi_office]) ?>';
                        } else {
                            if ($('#potrojariDraftForm').find('#ministry_note').text() == '') {
                                $('#potrojariDraftForm').find('#ministry_note').text('...');
                            }
                            $('#potrojariDraftForm').find('#ministry_note').attr('title', 'মাননীয় প্রধানমন্ত্রী আপনি কিছু লিখতে চান?').editable();
                        }
                    }
                });
            } else {
                $('.btn-forward-nothi').trigger('click');
                //window.location.href = '<?php echo $this->Url->build(['_name' => 'noteDetail', $nothimasterid, $nothi_office]) ?>';
            }
        }

        $(document).on('click', '.saveDraftNothi', function () {
            saveDraftNothiAndSend(1);
        });

        function saveDraftNothiAndSend(is_send_now) {
            var prevNoteId = (typeof ($('#potrojariDraftForm').find('#ministry_note').data("id")) != 'undefined' ? $('#potrojariDraftForm').find('#ministry_note').data("id") : 0);
            var summarynothiapprovePromise = new Promise(function (resolve, reject) {
                //$('#modalSiddhanto').modal('hide')
                if ($('#potrojariDraftForm').find('#ministry_note').text() == '...') {
                    $('#potrojariDraftForm').find('#ministry_note').text('');
                }
                $('#potrojariDraftForm').find('#ministry_note').replaceWith(function () {
                    return $('<span/>', {
                        class: 'ministry_note_canedit',
                        id: 'ministry_note',
                        dataType: 'text',
                        html: this.innerHTML
                    });
                });

                var url = '<?php echo $this->Url->build(['controller' => 'SummaryNothi', 'action' => 'draftApprovedByMinistry']) ?>/' + 1 + '/' +<?= $nothi_office ?>;

                $.ajax({
                    url: url,
                    method: "post",
                    data: {
                        'potro_id':<?php echo $mainpotro->nothi_potro_id ?>,
                        'nothi_part_no': <?= $mainpotro->nothi_part_no ?>},
                    cache: false,
                    async: false,
                    dataType: 'JSON',
                    success: function (response) {
                        if (response.status == 'error') {
                            $('.btn-approve').closest('.checked').removeClass('checked');
                            $('.btn-approve').removeAttr('checked');
                            reject(response.msg)
                        } else {
                            if (response.data['will_sign'] == 1) {
                                $("#<?= $position_number ?>").find('img').show();
                            } else {
                                $("#<?= $position_number ?>").find('img').hide();
                            }
                            resolve();
                        }
                    },
                    error: function (xhr, status, errorThrown) {
                        reject(xhr)
                    }
                });
            });

            summarynothiapprovePromise.then(function () {
                $('#potrojariDraftForm').find('#ministry_note').attr("data-id", prevNoteId);
                return DRAFT_FORM.setform();
            }).then(function () {
                $.ajax({
                    url: '<?php echo $this->Url->build(['controller' => 'SummaryNothi',
                        'action' => 'DraftUpdateByMinistry', $nothimasterid, $nothipotroid, $nothi_office]) ?>',
                    data: $("#potrojariDraftForm").serialize(),
                    method: "post",
                    dataType: 'JSON',
                    async: false,
                    cache: false,
                    success: function (response) {

                        if (response.status == 'error') {
                            toastr.error(response.msg);
                        } else {
                            saveOnucced(is_send_now, prevNoteId);
                        }
                    },
                    error: function (xhr, status, errorThrown) {

                    }
                });
            }).catch(function (err) {
                toastr.error(err);
            });
        }

        $(document).on('click', '.sendDraftNothi', function () {
                NothiMasterMovement.sendNothi();
        });

        $(document).off('click', '.showAttachmentOfContent').on('click', '.showAttachmentOfContent', function () {
            $('#responsiveOnuccedModal').modal('show');
            var file = $(this).text();
            $('#responsiveOnuccedModal').find('.modal-title').html(file);

            var url = $(this).data('url');
            var attachment_type = $(this).data('type');

            if (typeof(url) != 'undefined') {

                if (attachment_type == 'text') {
                    $('#responsiveOnuccedModal').find('.modal-body').html('<div style="background-color: #fff; max-width:950px; min-height:815px; max-height: 815px; margin:0 auto; page-break-inside: auto;">"' + file + '<br/>" + file + "</div>"');
                } else if ((attachment_type.substring(0, 15)) == 'application/vnd' || (attachment_type.substring(0, 15)) == 'application/ms') {
                    $('#responsiveOnuccedModal').find('.modal-body').html('<iframe style=" width:100%; height: 700px;" src="https://docs.google.com/gview?url=' +js_wb_root+'content/'+ url + '&embedded=true" style="width:600px; height:500px;" frameborder="0"></iframe>');

                } else if ((attachment_type.substring(0, 15)) == 'application/pdf') {
                    $('#responsiveOnuccedModal').find('.modal-body').html('<embed src="' +js_wb_root+'content/'+ url + '" style=" width:100%; height: 700px;" type="' + attachment_type + '"/>');
                }
                else if ((attachment_type.substring(0, 5)) == 'image') {
                    $('#responsiveOnuccedModal').find('.modal-body').html('<img src="' +js_wb_root+'content/'+ url + '" style=" width:100%; height: 700px;"/>');
                } else {
                    $('#responsiveOnuccedModal').find('.modal-body').html('দুঃখিত! ডাটা পাওয়া যায়নি');
                }
            }

        });

    </script>
<?php endif; ?>