<div id="mainContent">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item flex-fill">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
          aria-selected="true">আগত নথি </a>
    </li>
    <li class="nav-item flex-fill dropdown">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
          aria-selected="false" aria-expanded="false"> প্রেরিত নথি </a>
    </li>
    <li class="nav-item flex-fill">
      <a class="nav-link dropdown-toggle justify-content-between d-flex align-items-center" data-toggle="dropdown" id="nothi_form_others" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">অন্যান্য অফিসের নথি</a>
      <div class="dropdown-menu" aria-labelledby="nothi_form_others">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </li>
    <li class="nav-item flex-fill">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
          aria-selected="false" aria-expanded="false"> প্রেরিত নথি </a>
    </li>
  </ul>
  <div class="tab-content flex-fill" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <table class="table table-striped table-bordered table-hover" id="datatable-nothi-masters">
        <thead>

        <tr role="row" class="heading">
          <th style="width: 5%" class="text-center sorting_disabled" rowspan="1" colspan="1">
            ক্রম
          </th>
          <th class="text-center sorting_disabled" style="width: 20%" rowspan="1" colspan="1">
            নথি নম্বর
          </th>
          <th class="text-center sorting_disabled" style="width: 25%" rowspan="1" colspan="1">
            শিরোনাম
          </th>
          <th class="text-center sorting_disabled" style="width: 20%" rowspan="1" colspan="1">
            সর্বশেষ নোটের তারিখ
          </th>
          <th class="text-center sorting_disabled" style="width: 20%" rowspan="1" colspan="1">
            নথির শাখা
          </th>
          <th class="text-center sorting_disabled" style="width: 5%" rowspan="1" colspan="1">
            বিস্তারিত
          </th>
        </tr>
        </thead>
        <tbody id="dbl_click">

        <tr role="row" class="odd">
          <td>১</td>
          <td>০১.০১.০১০২.০১৮.০২.০০১.১৯</td>
          <td>ফাইলের মাধ্যমে জিঞ্জাসিত বিষয়গুলো সঙ্গায়ীত</td>
          <td>১৯-০২-২০১৯</td>
          <td>ব্যবসা-বাণিজ্য শাখা</td>
          <td>
            <div class="text-center">
              <button class="checkdetails btn btn btn-success btn-xs dbl_click" data-nothimasterid="23"
                  data-nothipartno="46" data-type="inbox"><i class="a2i_gn_details2"></i></button>
            </div>
          </td>
        </tr>
        <tr role="row" class="even">
          <td>২</td>
          <td>০১.০১.০১০২.০০০.০১.০০৩.১৮</td>
          <td>Check dak and nothi.</td>
          <td>২০-১২-২০১৮</td>
          <td>জেলা প্রশাসকের কার্যালয়</td>
          <td>
            <div class="text-center">
              <button class="checkdetails btn btn btn-success btn-xs dbl_click" data-nothimasterid="11"
                  data-nothipartno="38" data-type="inbox"><i class="a2i_gn_details2"></i></button>
            </div>
          </td>
        </tr>
        <tr role="row" class="odd">
          <td>৩</td>
          <td>০১.০১.০১০২.০০০.০১.৯৯৯.৯৯</td>
          <td>ffff 2</td>
          <td>১৭-১২-২০১৮</td>
          <td>জেলা প্রশাসকের কার্যালয়</td>
          <td>
            <div class="text-center">
              <button class="checkdetails btn btn btn-success btn-xs dbl_click" data-nothimasterid="16"
                  data-nothipartno="36" data-type="inbox"><i class="a2i_gn_details2"></i></button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
  </div>
</div>
