/***
New Modal Purple
Created by Hasan Sayeed
Date 19-11-2017
***/
body.modal-open{
    overflow: hidden !important;
}
.modal-purple{
    padding-right: 0 !important;
    background-color: #8080807a;
}
.modal-purple .modal-dialog .modal-content {
    border: solid 1px #8E44AD;
    height: calc(100vh - 60px);

}
.modal-purple .modal-dialog .modal-body {
    height: calc(100vh - 160px);
    overflow-y: auto;
}
.modal-purple .modal-dialog .modal-content .modal-header button {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    background: none;
    border: none;
}
.modal-purple .modal-dialog .modal-content .modal-header {
    background-image: none !important;
    background-color: #8E44AD !important;
    color: #FFFFFF !important;
    height: 50px !important;
    padding: 13px !important;
}
.modal-purple .modal-dialog .modal-content .modal-footer {
    background-color: rgba(95, 124, 57, 0.25);
    min-height: 50px !important;
    padding: 5px 15px;
}
.modal-purple .modal-dialog .modal-content .modal-footer .btn {
    /*border-radius: 5px !important;*/
}
.modal-purple .modal-dialog .modal-content .modal-header .modal-title{
    font-size: 20px;
}
.modal-purple .modal-backdrop {
    position: absolute !important;
    pointer-events: none;
}
.modal-purple[class~="height-auto"] .modal-content {
    height: auto !important;
}
.modal-purple[class~="height-auto"] .modal-body {
    height: auto !important;
}

@font-face {
    font-family: SutonnyBanglaFont;
    src: url(/a2i/fonts/SutonnyMJ.woff);
}
.font-bijoy-bangla {
    font-family: SutonnyBanglaFont;
}

.btn-group.btn-group-round > .btn:first-child {
    border-top-left-radius: 5px!important;
    border-bottom-left-radius: 5px!important;
}
.btn-group.btn-group-round > .btn:last-child {
    border-top-right-radius: 5px!important;
    border-bottom-right-radius: 5px!important;
}
.btn-group.btn-group-round .btn {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.round-corner-5 {
    border-radius: 5px !important;
}
.round-corner-10 {
    border-radius: 10px !important;
}
.round-corner-15 {
    border-radius: 15px !important;
}
.round-corner-20 {
    border-radius: 20px !important;
}

.btn-group.btn-group-circle > .btn:first-child {
    border-top-left-radius: 25px!important;
    border-bottom-left-radius: 25px!important;
}
.btn-group.btn-group-circle > .btn:last-child {
    border-top-right-radius: 25px!important;
    border-bottom-right-radius: 25px!important;
}

.tooltip {
    z-index: 999999 !important;
}

.input-group-round > .form-control:first-child, .input-group-round > .btn:first-child, .input-group-round .select2-choice:first-child {
    border-top-left-radius: 5px!important;
    border-bottom-left-radius: 5px!important;
}
.input-group-round > .form-control:last-child, .input-group-round > .btn:last-child, .input-group-round .select2-choice:last-child {
    border-top-right-radius: 5px!important;
    border-bottom-right-radius: 5px!important;
}

.btn-md {
    padding: 4px 10px 5px 10px;
    font-size: 16px;
    line-height: 1.6;
}
select.multiselect > option{
    background: white;
    color: black;
    padding: 6px;
}
select.multiselect > option:hover{
    background: #683091;
    color: white;
}