* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'SolaimanLipi';
    src: url('SolaimanLipi.ttf') format('truetype');
}

@font-face {
    font-family: 'kalpurushANSI';
    src: url('kalpurushANSI.ttf') format('truetype');
}

body {
    font-family: SolaimanLipi, sans-serif;
    font-size: 13pt;
}
/*
.en {
    font-family: Arial, SolaimanLipi, sans-serif
}*/


.container {
    margin: auto;
    padding: 80px;
}

.row-wrap {
    padding: 0 15px;
}

.templateWrapper,.containerx {
    width: 950px;
    margin: 30px auto;
    box-shadow: 0 0 10px #000;
    padding: 0.8in;
}
.containerx .templateWrapper {
    width: 100%;
    margin: inherit;
    box-shadow: none;
    padding: 0!important;
}

.underline {
    text-decoration: underline;
}

.print-margin input::placeholder {
    text-align: center;
}

.print-margin button {
    border-radius: 0;
}

.print-margin input {
    max-width: 40px;
    border-radius: 0;
}
table{font-size: 13px;max-width: 100%;margin-left: 0!important;margin-bottom: .5rem;page-break-before:always}
p{margin-bottom: 0;}
table th {
    white-space: nowrap;
}

.print-margin {
    position: fixed;
    right: 0;
    top: 0;
    background-color: #fff;
    box-shadow: 0 0 10px;
}
#sending_date{position: relative;top: -8px;}
.page_id:before{content: 'টেম্প্লেট নং.';}
.page_id{position: fixed;top: 10px;left: 10px;}
@media print {
    .page_id{display: none}
    .print-margin {
        display: none;
    }
    .containerx{
        width: 100%;
        margin: auto;
        box-shadow: none;
        padding: 0px;
    }
}