
/* For common style  ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 768px) {


	#header_container{
		height: auto!important
	}
	#header {
	  position: relative !important;
	  width: auto !important;		
	  border: 1px solid #1caf9a;
	  float: left;
	  left: 25px !important;
	  padding-left: 0 !important;
	  margin: inherit!important;
	  margin-top: 10px!important;
	}
	#header div{
		float: left;
	}
	.page-sidebar-menu li{
		list-style: none;
	}
	.page-sidebar-menu {
		padding-left: 0;
	}
	.dropdown-menu-default{
		left: 5px!important;
	}
	.nothi-title {
	  background: #1caf9a none repeat scroll 0 0;
	  color: #fff;
	  margin-bottom: 0;
	  padding: 10px;
	  text-align: left;
	}
	.nothiListRow{
		margin: 10px;
	}
	.sec-icon{
		float: left !important;
	}
	.governmentTitle, .potro-office-name{
		text-align: left!important;
	}
	.potro-sarok-no{
		margin:0!important;
	}
	.potro-heading-right p{
		text-align: left!important;
	}
	.table {
	  display: block;
	  overflow-x: auto;
	}
	.dropdown-user {
		float: left;
	}
	#accordion h3, #accordionNotes h3 {
	  padding: 5px 0 8px;
	}	
	.governmentTitle {
	  color: #606777;
	  font-size: 15px;
	  margin-left: 0;
	}
	.hs-menu{
		display: none;
	}

}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* STYLES GO HERE */

}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* STYLES GO HERE */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* STYLES GO HERE */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* STYLES GO HERE */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* STYLES GO HERE */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* STYLES GO HERE */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
/* STYLES GO HERE */
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
/* STYLES GO HERE */
}

/* iPhone 5 (portrait &amp; landscape)----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
/* STYLES GO HERE */
}

/* iPhone 5 (landscape)----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape) {
/* STYLES GO HERE */
}

/* iPhone 5 (portrait)----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) {
/* STYLES GO HERE */
}
