.custom-tab-menu {
    width: 50%;
    margin: 5px 0 5px 50%;
}

.custom-tab-menu a {
    margin-left: 5px;
    padding-left: 5px;
    border-left: 1px solid #333;
    outline: none;
    font-weight: bold;
}

.custom-tab-menu a:first-child {
    margin-left: 0;
    padding-left: 0;
    border-left: 0;
}

.custom-tab-menu a.active {
    font-weight: bold;
}

#mybook {
    clear: both;
}

#search-result-container {
    width: 30%;
    display: none;
}

#search-result a {
    background: #f4f4f4;
    border-top: 1px solid #333;
    padding: 3px;
    display: block;
    outline: none;
}

#search-result a:first-child {
    border-top: 0;
}

.notes-page {
    overflow: hidden;
}

.bubble {
    transform: matrix(1, 0, 0, 1, 0, 0) !important;
}

.nothiDetailsPage {
    /*height: 842px;*/
    /*height: 29.7cm;*/
    background-color: #fff;
    padding: 2px;
    /*max-width: 595px;*/
    margin: 0 auto;
    /*overflow: hidden;*/
    /*overflow-y: auto*/
}

.potroDetailsPage {
    /*height: 842px;*/
    /*height: 29.7cm;*/
    background-color: #fff;
    padding: 2px;
    /*max-width: 595px;*/
    margin: 0 auto;
}

/*.portlet {*/
/*background-color: #f2f2f4;*/
/*}*/

.noteDetails {
    background-color: #C8F2FF;
    word-break:break-word;
}

.noteContent {
    /*border-bottom: 1px dashed grey;*/
    padding: 8px 2px !important;
}

.noMarginPadding {
    margin: 0;
    padding: 0;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

.noteHeadFixed {
    background: #f2f6f9 none repeat scroll 0 0;
    height: 46px;
    margin-top: -31px;
    position: relative;
}

.noteHead {
    font-size: 13pt;
    font-weight: bold;
    margin-bottom: 20px;
    background: #f2f6f9 none repeat scroll 0 0;
    height: 46px;
    line-height: 46px;
    position: fixed;
    width: 78%;
}

.noteContent, .potro-description {
    font-size: 11pt;
    line-height: 20px;
    text-align: justify;
    word-break: break-word;
}

.noteNo {
    /*border-bottom: 2px solid #81b71a;*/
    /*border-right: 2px solid #81b71a;*/
    display: inline-block;
    font-weight: bold;
    line-height: 20px;
    margin-right: 5px;
    font-size: 15pt !important;
    padding: 0px 0px 5px 0px;
}

.noteSubject {
    display: block;
    margin-bottom: 10px;
    font-size: 12pt;
    font-weight: normal;
}

.noteSign .sign {
    float: left;
    margin-right: 2%;
}

.sign h3, .sign h4 {
    font-size: 13pt;
}

.noteSign {
    height: 120px;
}

.noteBtn {
    background: none !important;
    border: none !important;
    color: blue;
}

/*------------------- Nothi indexing Design-----------------------------------*/
.nothi-indexing {
    height: 500px;
    overflow: scroll;
    overflow-x: auto;
}

.nothi-indexing ul {
    list-style: outside none none;
    margin: 0 0 20px;
    padding: 0;
    width: 100%;
    float: left;
}

.nothi-indexing ul li {
    border-bottom: 1px solid grey;
    padding: 5px 0;
}

.nothi-indexing ul li:hover {
    background-color: #fcfcfc;
}

.no-margin {
    margin: 0;
}

.no-padding {
    margin: 0;
}

.nothiListRow {
    background-color: #f2f2f4;
}

.nothi-indexing div article, .nothi-indexing div, .nothi-indexing {
    font-family: nikoshBan, nikosh, arial !important;
}

#hs-container {
    margin-top: -15px;
}

.ui-widget-content {
    background: none !important;
}

.accordion h3, #accordionNotes h3 {
    border-bottom: 1px solid grey;
    border-top: none;
    border-left: none;
    border-right: none;
    background: none;
    border-radius: 0;
    padding-left: 0;
}

.accordion .accordion-content, #accordionNotes .accordionNoteContent {
    border: none;
    height: auto !important;
    padding-left: 15px;
    padding-right: 15px;
}

.accordion .hs-content .sec-icon, #accordionNotes .hs-content .sec-icon {
    left: -26px;
}

.sec-icon {
    font-size: 14pt;
    width: 40px;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #21252d;
    color: #858EA1;
    position: relative;
    top: 7px;
    float: right;
}

.potropTitle, .accordionNotesTitle {
    color: #1c94c4;
    cursor: pointer;
}

.bottom_search .search-form .input-group {
    border-radius: 25px !important;
}

.bottom_search .search-form .input-group .form-control {
    border: 0;
    background: transparent !important;
    padding: 0;
    margin: 0;
    text-indent: -150000px;
}

.bottom_search .search-form .input-group .form-control:hover {
    cursor: pointer;
}

.bottom_search .search-form .input-group .input-group-btn {
    padding: 0;
    margin: 0;
}

.bottom_search .search-form .input-group .input-group-btn .btn.submit {
    margin: 3px 7px 0 0;
    padding: 0;
    background: none;
    display: block;
}

.bottom_search .search-form .input-group .input-group-btn .btn.submit > i {
    font-size: 11pt;
}

.bottom_search .search-form.open {
    width: 100% !important;
}

.bottom_search .search-form.open .input-group .form-control {
    text-indent: 0;
    padding: 6px 12px;
}

.bottom_search .search-form.open .input-group .form-control:hover {
    cursor: text;
}

.bottom_search .search-form {
    background: #F2F2F4;
    width: 30px;
}

.bottom_search .search-form .input-group {
    border: 1px solid hsla(0, 87%, 65%, 0.36);
}

/*.bottom_search .search-form .input-group:hover {*/
/*border-color: darker(#ced6de, 5%);*/
/*}*/

.bottom_search .search-form .input-group .form-control {
    color: #000;
}

.bottom_search .search-form .input-group .form-control::-moz-placeholder {
    color: #cbd4dc;
    opacity: 1;
}

.bottom_search .search-form .input-group .form-control:-ms-input-placeholder {
    color: #cbd4dc;
}

.bottom_search .search-form .input-group .form-control::-webkit-input-placeholder {
    color: #cbd4dc;
}

.bottom_search .search-form .input-group .input-group-btn .btn.submit > i {
    color: hsla(0, 87%, 65%, 0.36);
}

.full-height-content-body {
    padding: 0px 0px 0px;
    background-color: #fff;
    min-height: 400px;
}

.bookmarkImg i {
    font-size: 13pt !important;
    /*padding-right: 10px;*/
    /*padding-bottom: 5px;*/
    cursor: pointer;
}

.bookmarkdiv {
    background-color: transparent;
    border: 1px solid #eee;
    height: 25px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    padding-top: 5px;
}

.bookmarkdivHor {
    width: 10%;
    display: inline-block;
}

.bookmarkdivVer {
    display: block;
    width: 100%;
}

.bookmarkdivVerLeft, .bookmarkdivVerRight {
    min-height: 450px;
}

.bookmarkdivVerLeft div {
    float: left;
}

.bookmarkdivVerRight div {
    float: right;
}

#colorBookmark {
    width: 100%;
}

#colorBookmark option.label {
    display: block !important;
    border-radius: 0 !important;
}

.divcenter {
    /*margin: 0 auto;*/
}

h3 {
    margin-top: 0;
}

#responsiveNoteEdit .badge {
    background-color: #777;
}

#responsiveNoteEdit {
    position: relative;
    bottom: 0;
    right: 0;
    display: none;
    font-size: 11pt;
    border-top: red 1px solid;
}

#responsiveNoteEdit .form-control {
    font-size: 11pt;
    height: 30px !important;
}

#responsiveNoteEdit label {
    font-size: 11pt;
}

#responsiveNoteEdit .caption {
    font-size: 12pt;
}

#responsiveNoteEdit .btn-xs {
    font-size: 9pt;
}

#responsiveNoteEdit > .portlet-title > .tools > a {
    heigh: 18px;
}

.tabs-left {
    /*margin-top: 3rem;*/
}

.bookmarkNotediv .nav-tabs, .bookmarkPotrodiv .nav-tabs {
    float: left;
    border-bottom: 0;
}

/*
.nav-tabs li {
    float: none;
    margin: 0;
}
*/

.nav-tabs li a {
    margin-right: 0;
    border: 0;
    /*background-color: #333;*/
}

.nav-tabs li a:hover {
    background-color: #444;
}

.nav-tabs .glyphicon {
    color: #fff;
}

.nav-tabs .active .glyphicon {
    color: #333;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border: 0;
}

.list-group {
    width: 100%;
}

.tabs-left .nav-tabs > li > a {
    margin-right: 2px;
    border: 1px solid transparent;
    border-radius: 4px 0px 0px 4px;
}

.tabs-right .nav-tabs > li > a {
    margin-right: 2px;
    border: 1px solid transparent;
    border-radius: 0px 4px 4px 0px;
}

.page-content .nav > li > a {
    position: relative;
    display: block;
    padding: 2px 10px;
}

.nav-tabs > li > a:hover {
    /* border-color: #eee #eee #ddd; */
}

.nav-tabs > li > a {
    width: 100%;
}

#addNewNotesheet {
    cursor: pointer;
}
.addNewNote {
    cursor: pointer;
    padding: 3px 5px !important;
    border-width: 1px;
    /*padding: 5px 8px !important;*/
}

.addNewNote i {
    /*font-size: 2em;*/
    color: #fff;
}
#addNewNote {
    cursor: pointer;

    padding: 3px 5px !important;
}

#addNewNote i {
    /*font-size: 2em;*/
    color: #fff;
}

.portlet.box > .portlet-body {
    padding: 5px;
}

.portlet.light {
    padding: 0px !important;
    margin: 0;
}

.portlet .portlet-body {
    padding-top: 0;
}

.portlet > .portlet-title {
    border-bottom: 0px solid #eee;
    padding: 0;
    margin-bottom: 0;
}

.pagination {
    margin: 0;
}

.portlet > .portlet-title > .pagination {
    margin: 0;
}

.pager {
    padding: 0;
    margin: 0;
    text-align: left;
}

.portlet > .portlet-title {
    min-height: 30px;
    background-color: #fff;

}

.portlet > .portlet-title > .actions {
    padding: 2px 0px !important;
    font-size: 11pt;
}

.portlet.light .portlet-body {
    padding-top: 0px;
}

.portlet.box > .portlet-title > .caption {
    padding: 5px 0px;
    font-size: 13pt;
}

.portlet.box > .portlet-title > .tools {
    padding: 5px 0px;
    font-size: 11pt;
}

.nothiOnucched {
    cursor: pointer;
}

.portlet-footer {
    color: #fff;
    padding: 5px;
}

.btn-onucced-delete, .btn-onucced-edit, .btn-onucced-potrojari, .btn-changelog,.btn-printall,.btn-resizecss{
    margin-bottom: 0px;
    padding: 2px 5px !important;
    /*padding: 5px 8px !important;*/
}

.jstree-default .jstree-clicked {
    background-color: #78FF56 !important;
}

.attachmentsRecord {
    min-height: 815px;
}

.figure {
    position: relative;
}

figure figcaption {
    font-size: 14pt;
    color: #fff;
    text-decoration: none;
    bottom: 10px;
    right: 20px;
    position: absolute;
    background-color: #000;
}

code {
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

#noteShow {
    font-family: "Nikosh", sans-serif, "Open Sans";

}

#sovapoti_signature, #sender_signature, #sender_signature2, #sender_signature3, #sender_signature4, #sender_signature5 {
    height: 50px !important;
}

#sovapoti_signature img, #sender_signature img, #sender_signature2 img, #sender_signature3 img, #sender_signature4 img, #sender_signature5 img {
    height: 50px !important;
}

.dropdown > .dropdown-menu, .dropdown-toggle > .dropdown-menu, .btn-group > .dropdown-menu {
    margin-top: 0px !important;
}

.slimScrollBar {
    background: #683091 !important;
    display: block !important;
}

.btn {
    font-size: 12pt;
}

.inbox tr, .table thead tr th {
    font-size: 12pt;
}

.nav-tabs > li > a, .nav-pills > li > a {
    font-size: 12pt;
}

.dataTables_extended_wrapper div.dataTables_length label, .paging_bootstrap_extended {
    font-size: 12pt;
}

.tab-content {
    background: rgb(250, 255, 243);
    border: 1px solid #eee;
    border-top: 0px;
    padding: 5px;
    padding-top: 10px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    background: rgba(234, 255, 207, 0.26);
}

.inbox .inbox {
    margin-bottom: -1px !important;
}

.nav-tabs, .nav-pills {
    margin-bottom: 0px;
}

.input-sm {
    height: 30px;
}

.dropdown-menu li > a {
    padding: 8px 14px;
    color: #555;
    text-decoration: none;
    display: block;
    clear: both;
    font-weight: 300;
    line-height: 18px;
    white-space: nowrap;
}

.dropdown-menu li > a > [class^="fa-"],
.dropdown-menu li > a > [class*=" fa-"] {
    color: #f6f6f6;
}

.dropdown-menu li > a > [class^="icon-"],
.dropdown-menu li > a > [class*=" icon-"] {
    color: #f6f6f6;
}

.dropdown-menu li > a > [class^="glyphicon-"],
.dropdown-menu li > a > [class*=" glyphicon-"] {
    color: #f6f6f6;
}

.dropdown-menu li > a:hover,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
    text-decoration: none;
    background-image: none;
    background-color: #f6f6f6;
    color: #555;
    filter: none;
}

@media print {
    a[href]:after {
        content: none !important;
    }

    @page {
        margin-top: 1in;
        margin-left: 1.2in;
        margin-bottom: .75in;
        margin-right: .75in;
    }

    body {
        margin-top: 1in;
        margin-left: 1.2in;
        margin-bottom: .75in;
        margin-right: .75in;
    }
}

.notecount a{
    font-size:11pt!important;
}

.col-12,.col-6,.col-3{
    padding-right:15px;
    padding-left:15px;
}
.col-12{
    flex: 0 0 100%;
    max-width: 100%;
}
.col-6{
    flex: 0 0 50%;
    max-width: 50%;
}

.col-3{
    flex: 0 0 25%;
    max-width: 25%;
}