<?php echo $this->Form->hidden('parent', array('value' => $parent, 'label' => false, 'class' => 'form-control')); ?>
<?php echo $this->Form->hidden('office_hierarchy_template_id', array('value' => $office_hierarchy_id, 'label' => false, 'class' => 'form-control')); ?>

<div class="form-group">
    <label class="col-sm-4 control-label">Title in Bangla</label>

    <div class="col-sm-7">
        <?php echo $this->Form->input('title_bng', array('label' => false, 'class' => 'form-control')); ?>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-4 control-label">Title in English</label>

    <div class="col-sm-7">
        <?php echo $this->Form->input('title_eng', array('label' => false, 'class' => 'form-control')); ?>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-4 control-label">Level</label>

    <div class="col-sm-7">
        <?php echo $this->Form->input('level', array('label' => false, 'class' => 'form-control')); ?>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-4 control-label">Sequence</label>

    <div class="col-sm-7">
        <?php echo $this->Form->input('sequence', array('label' => false, 'class' => 'form-control')); ?>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-4 control-label">Deleted or Not</label>

    <div class="col-sm-7">
        <?php echo $this->Form->input('isdeleted', array('label' => false, 'type' => 'checkbox', 'class' => 'form-control')); ?>
    </div>
</div>
