<div class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-4 control-label">Organization Global Office</label>

        <div class="col-sm-7">
            <?php echo $this->Form->input('office_hierarchy', array('list' => 'office_hierarchy_list', 'label' => false, 'class' => 'form-control')); ?>
            <?php echo $this->Form->hidden('office_hierarchy_template_id', array('id' => 'office-hierarchy-id', 'label' => false, 'class' => 'form-control')); ?>
        </div>
        <datalist id="office_hierarchy_list">
            <?php foreach ($office_hierarchy_list as $ohl) { ?>
                <option value="<?= $ohl; ?>"></option>
            <?php } ?>
        </datalist>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Organization Code</label>

        <div class="col-sm-7">
            <?php echo $this->Form->input('org_code', array('label' => false, 'class' => 'form-control')); ?>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Organization Title (Bangla)</label>

        <div class="col-sm-7">
            <?php echo $this->Form->input('org_title_bng', array('label' => false, 'class' => 'form-control')); ?>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Organization Title (English)</label>

        <div class="col-sm-7">
            <?php echo $this->Form->input('org_title_eng', array('label' => false, 'class' => 'form-control')); ?>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Parent Organization</label>

        <div class="col-sm-7">
            <?php echo $this->Form->input('parent', array('label' => false, 'class' => 'form-control')); ?>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Head Organization</label>

        <div class="col-sm-7">
            <?php echo $this->Form->input('head_org', array('label' => false, 'class' => 'form-control')); ?>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Organization Type</label>

        <div class="col-sm-7">
            <?php echo $this->Form->input('org_type', array('label' => false, 'class' => 'form-control')); ?>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Organization Geo ID</label>

        <div class="col-sm-7">
            <?php echo $this->Form->input('office_geos_id', array('label' => false, 'type' => 'text', 'class' => 'form-control')); ?>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Child Organization</label>

        <div class="col-sm-7">
            <?php echo $this->Form->input('org_child', array('label' => false, 'class' => 'form-control')); ?>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">File Code</label>

        <div class="col-sm-7">
            <?php echo $this->Form->input('file_code', array('label' => false, 'class' => 'form-control')); ?>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Address</label>

        <div class="col-sm-7">
            <?php echo $this->Form->input('address', array('label' => false, 'class' => 'form-control')); ?>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Web URL</label>

        <div class="col-sm-7">
            <?php echo $this->Form->input('web_url', array('label' => false, 'class' => 'form-control')); ?>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">GIS Coordinate</label>

        <div class="col-sm-7">
            <?php echo $this->Form->input('gis_coordinate', array('label' => false, 'class' => 'form-control')); ?>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">About Info</label>

        <div class="col-sm-7">
            <?php echo $this->Form->input('about_info', array('label' => false, 'class' => 'form-control')); ?>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Deleted or Not</label>

        <div class="col-sm-7">
            <?php echo $this->Form->input('isdeleted', array('label' => false, 'class' => 'form-control')); ?>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Version</label>

        <div class="col-sm-7">
            <?php echo $this->Form->input('version', array('label' => false, 'class' => 'form-control')); ?>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Status</label>

        <div class="col-sm-7">
            <?php echo $this->Form->input('status', array('label' => false, 'type' => 'checkbox', 'class' => 'form-control')); ?>
        </div>
    </div>
</div>