<li class="nav-item">
  <a class="nav-link d-flex align-items-center" data-toggle="tab" href="#potro_tab_2"
    role="tab"
    aria-controls="profile">
    <i class="fa fa-paper-plane-o fs-20"></i>
    <aside class="ml-3 line-height-1">
      <strong class="text-dark font-weight-normal">নোটের পত্র</strong>
      <span class="badge">232</span>
    </aside>
  </a>
</li>