<div id="chart_<?=$chart_no?>" class="chart" style="height: 400px;">
</div>

<?php
	/* $data[]['direction'] = "3 days";
	$data[]['value'] = 15; */
?>

<script type="text/javascript">
	var chart<?=$chart_no?> = AmCharts.makeChart("chart_<?=$chart_no?>", {
		"type": "radar",
		"theme": "light",

		"fontFamily": 'Open Sans',
		
		"color":    '#888',

		"dataProvider": [{
			"direction": "N",
			"value": 8
		}, {
			"direction": "NE",
			"value": 9
		}, {
			"direction": "E",
			"value": 4.5
		}, {
			"direction": "SE",
			"value": 3.5
		}, {
			"direction": "S",
			"value": 9.2
		}, {
			"direction": "SW",
			"value": 8.4
		}, {
			"direction": "W",
			"value": 11.1
		}, {
			"direction": "NW",
			"value": 10
		}],
		"valueAxes": [{
			"gridType": "circles",
			"minimum": 0,
			"autoGridCount": false,
			"axisAlpha": 0.2,
			"fillAlpha": 0.05,
			"fillColor": "#FFFFFF",
			"gridAlpha": 0.08,
			"guides": [{
				"angle": 225,
				"fillAlpha": 0.3,
				"fillColor": "#0066CC",
				"tickLength": 0,
				"toAngle": 315,
				"toValue": 14,
				"value": 0,
				"lineAlpha": 0,

			}, {
				"angle": 45,
				"fillAlpha": 0.3,
				"fillColor": "#CC3333",
				"tickLength": 0,
				"toAngle": 135,
				"toValue": 14,
				"value": 0,
				"lineAlpha": 0,
			}],
			"position": "left"
		}],
		"startDuration": 1,
		"graphs": [{
			"balloonText": "[[category]]: [[value]] m/s",
			"bullet": "round",
			"fillAlphas": 0.3,
			"valueField": "value"
		}],
		"categoryField": "direction"
	});
	
	$('#chart_<?=$chart_no?>').closest('.portlet').find('.fullscreen').click(function() {
		chart<?=$chart_no?>.invalidateSize();
	});
	
	$(document).ready(function(e){	
		chart<?=$chart_no?>.addListener("rendered", function(e){
			$("#chart_<?=$chart_no?>").parent().hide();
		});
	});
	
</script>