
/* For common style  ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 768px) {

    .menu-toggler{
        display: block!important;
    }
	.page-header.navbar .page-top {
	  height: auto;
	  padding: 5px;
	}
	.page-header.navbar .search-form {
	  margin: 7px 20px 2px 0;
	}
	.pull-right > li > a {
	  display: inline;
	}	
	.page-header.navbar .top-menu .navbar-nav > li.dropdown > .dropdown-toggle {
	  margin: 0;
	  padding: 4px !important;
	}	
	.page-header.navbar .top-menu .navbar-nav {
	  margin: 8px -2px 0;
	}
	.page-header.navbar .top-menu .navbar-nav > li.dropdown {
	  height: 40px;
	}
	.dropdown-user a{
		margin-left: -8px;
	}
	.page-header.navbar .page-logo {
	  width: auto;
	}
	.page-header.navbar {
		height: auto;
		min-height: inherit;
	}
	.page-header.navbar .page-logo {
	  height: auto;
	  width: auto;
	  padding-left: 0;
	}
	.page-header.navbar .page-actions {
	  margin: 17px 0 0 10px;
	}	
	.page-sidebar-wrapper{
		margin-top: 200px;
	}

	.responsive-toggler {
	  border: 3px solid #1caf9a;
	  float: left !important;
	  margin: -4px 14px 12px 22px !important;
	  padding: 15px !important;
	}

	.table {
	  display: block;
	  overflow-x: auto;
	}
	.dropdown-user {
		float: left;
	}	


}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* STYLES GO HERE */

}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* STYLES GO HERE */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* STYLES GO HERE */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* STYLES GO HERE */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* STYLES GO HERE */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* STYLES GO HERE */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
/* STYLES GO HERE */
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
/* STYLES GO HERE */
}

/* iPhone 5 (portrait &amp; landscape)----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
/* STYLES GO HERE */
}

/* iPhone 5 (landscape)----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape) {
/* STYLES GO HERE */
}

/* iPhone 5 (portrait)----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) {
/* STYLES GO HERE */
}
