.nav-tabs .nav-link,
.dropdown-menu,
.btn,
.form-control,
.input-group-text{
  border-radius:0;
}
.font-bn-en{
  font-family:SolaimanLipi, Roboto, Sans-Serif;
  font-size:16px;
}

/*header*/
.app-header .navbar-brand,
.app-header{
  background-color:#683091;
}
/*header*/

/*common*/
body{
  position:absolute;
  width:100%;
  height:100%;
}
img{
  max-width:100%;
}
header .modules a i{
  font-size:30px;
}
header .modules a{
  padding:10px 0;
  transition:all 0.3s;
  border:1px solid transparent;
}
header .modules span{
  font-family:SolaimanLipi, Roboto;
}
header .modules a:hover{
  border:1px solid #ddd;
}
.select2-selection{
  padding-top:4px !important;
  height:34.8px !important;
  color:#5c6873;
  background-color:#fff;
  background-clip:padding-box;
  border:1px solid #e4e7ea !important;
  border-radius:0 !important;
  transition:border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
}
.select2-container--default
.select2-selection--single
.select2-selection__arrow{
  height:34px !important;
}
.app-header .nav-item.w-auto{
  min-width:inherit;
}
/*.navbar-nav button i{transition:all 1s;transform:rotateY(0);}
.navbar-nav button:hover i{transform:rotateY(360deg);}*/

.btn-success:not(:disabled):not(.disabled):active,
.btn-success:not(:disabled):not(.disabled).active,
.show > .btn-success.dropdown-toggle{
  color:#fff;
  background-color:#a5479b;
  border-color:#a5479b;
}
.line-height-1{
  line-height:1;
}
.outline-none,
.outline-none:focus{
  outline:none;
  box-shadow:none;
}
.fs-16{
  font-size:16px;
}
.fs-18{
  font-size:18px;
}
.fs-20{
  font-size:20px;
}
.btn-danger-n{
  background-color:#c63927;
}
.btn-success-n{
  background-color:#2d8f3c;
}
.btn-success-n.active{
  background-color:#c63927;
}
.pScroll{
  height:100%;
  position:relative;
}
.ps__rail-y{
  z-index:9;
  opacity:0.5;
}
.ps__thumb-y{
  border-radius:0 !important;
  right:0;
}
.ps__thumb-x{
  border-radius:0 !important;
}
.ps__rail-x:hover,
.ps__rail-y:hover,
.ps__rail-x:focus,
.ps__rail-y:focus{
  background-color:transparent !important;
}
.ql-toolbar.ql-snow{
  border-top:none;
  border-left:none;
  border-right:none;
}

.bg-violate{
  background-color:#683091;
}
.bg-violate-o{
  background-color:#7b1fa2;
}

.border-left-n{
  border-left:1px solid #683091;
}
.border-right-n{
  border-right:1px solid #683091;
}
.badge{
  font-size:60%;
  border-radius:3px;
  vertical-align:middle;
  padding-top:0.25rem;
}
.overflow-hidden{
  overflow:hidden;
}
textarea[resize="none"]{
  resize:none;
}
.btn-xs{
  width:20px;
  height:20px;
  line-height:1;
  padding:0;
}
.btn-border-violate .btn{
  border-left:1px solid #7b1fa2;
  border-right:1px solid #7b1fa2;
  border-top:none;
  border-bottom:none;
  color:#7b1fa2;
}
.btn-border-violate .btn i{
  vertical-align:middle;
}
/*common*/

/*search-all*/
.search-all{
  max-width:100%;
  position:relative;
}
.search-all button.btn-toggler{
  position:absolute;
  right:0;
  top:0;
}
.search-all input::placeholder{
  font-family:FontAwesome, SolaimanLipi;
  padding-left:5px;
}

/*partners*/
.partners img{
  height:24px;
}

/*nothi style*/
.nothi-from{
  max-width:200px;
}
.potro-from{
  max-width:100px;
}

/*tabs designs*/
/*tabs-1*/
.tabs-1.nav-tabs .nav-link:hover,
.tabs-1.nav-tabs .nav-link.active{
  background-color:#f3f3f3;
}
.tabs-1.nav-tabs .nav-link{
  padding:1rem;
  border-top:none;
}

.tabs-1.nav-tabs .nav-item:nth-child(1) .nav-link.active{
  border-bottom-color:lightcoral !important;
}
.tabs-1.nav-tabs .nav-item:nth-child(2) .nav-link.active{
  border-bottom-color:green !important;
}
.tabs-1.nav-tabs .nav-item:nth-child(3) .nav-link.active{
  border-bottom-color:dodgerblue !important;
}
.tabs-1.nav-tabs .nav-item:nth-child(4) .nav-link.active{
  border-bottom-color:darkviolet !important;
}
.tabs-1.nav-tabs .nav-item:nth-child(5) .nav-link.active{
  border-bottom-color:#ffc107 !important;
}
.tabs-1.nav-tabs .nav-item{
  display:flex;
}

/*badge*/
.tabs-1.nav-tabs .nav-item:nth-child(1) .badge{
  background-color:lightcoral;
  color:#fff;
}
.tabs-1.nav-tabs .nav-item:nth-child(2) .badge{
  background-color:green;
  color:#fff;
}
.tabs-1.nav-tabs .nav-item:nth-child(3) .badge{
  background-color:dodgerblue;
  color:#fff;
}
.tabs-1.nav-tabs .nav-item:nth-child(4) .badge{
  background-color:darkviolet;
  color:#fff;
}
.tabs-1.nav-tabs .nav-item:nth-child(5) .badge{
  background-color:#ffc107;
  color:#fff;
}
.tabs-1 .badge{
  vertical-align:top;
}
/*tabs-1*/

/*side-pop*/
.side-pop-parent{
  position:relative;
}
.side-pop{
  position:absolute;
  left:0;
  z-index:999;
  width:500px;
  top:0;
  opacity:0;
  transition:all 0.3s;
  visibility:hidden;
}
.side-pop.show{
  left:calc(100% + 8px);
  visibility:visible;
  opacity:1;
}

.list-group-item-danger-on{
  color:#fff;
  background-color:#f3565d;
  border-color:#fff;
}
.list-group-item-danger-on:hover,
.list-group-item-danger-on.active{
  color:#fff;
  background-color:#f1353d;
  border-color:#fff;
}
.list-group-item-success-on{
  color:#fff;
  background-color:#45b6af;
  border-color:#fff;
}
.list-group-item-success-on:hover{
  color:#fff;
  background-color:#3b9c96;
  border-color:#fff;
}
.note_list .list-group-item{
  padding-top:0.4rem;
  padding-bottom:0.4rem;
  text-align:left;
}
.note_list .list-group-item .note_label{
  cursor:pointer;
}
.note_list_tab{
  display:none;
}
/*.btn-close{position:absolute;right:0;z-index:9;width: 20px;height: 20px;padding: 0;}*/
/*side-pop*/

/*content-slide*/
.tab-content{
  border-left:none;
  border-bottom:none;
  border-right:none;
}
.content-slide{
  position:absolute;
  left:100%;
  height:100%;
  width:100%;
  z-index:999;
  transition:all 0.3s;
  background-color:#fff;
  top:0;
}
.content-slide.show{
  left:0;
}
/*content-slide*/

/*nothi-sidebar*/
.nothi-sidebar{
  min-width:120px;
  max-width:120px;
  background-color:#f1f1f1;
}
/*nothi-sidebar*/

/*split*/
.gutter.gutter-vertical{
  cursor:row-resize;
  display:none;
}
.gutter.gutter-horizontal{
  cursor:col-resize;
  height:100%;
}
.ql-toolbar .select2.select2-container{
  display:none;
}
.gutter.gutter-vertical:after{
  content:"";
  width:16px;
  height:3px;
  border-top:1px solid #aaa;
  border-bottom:1px solid #aaa;
  display:block;
  position:absolute;
  left:0;
  right:0;
  margin:auto;
  top:50%;
  bottom:50%;
}
.gutter.gutter-horizontal:after{
  content:"";
  height:16px;
  width:3px;
  border-left:1px solid #aaa;
  border-right:1px solid #aaa;
  display:block;
  position:absolute;
  left:0;
  right:0;
  margin:auto;
  top:50%;
  bottom:50%;
}

.gutter.gutter-vertical,
.gutter.gutter-horizontal{
  background-color:#f9f9f9;
  transition:all 0.3s;
  position:relative;
  display:block;
}
.gutter.gutter-vertical:hover,
.gutter.gutter-horizontal:hover{
  background-color:#dedede;
}

/*send-note*/
.send-note{
  position:absolute;
  width:100%;
  height:100%;
  background-color:#fff;
  z-index:999;
}

#note-bottom .card-header{
  display:none;
}
#note-bottom .card-header{
  display:none;
}
#note-bottom .full-screen .card-header{
  display:block;
}

.flex-basis{
  -ms-flex-preferred-size:0;
  flex-basis:0;
  -ms-flex-positive:1;
  flex-grow:1;
  max-width:100%;
}
/*froala-editor*/
.fr-box.fr-basic{
  height:100%;
  display:flex;
  flex-direction:column;
}
.fr-wrapper > div:first-child,
.fr-wrapper.show-placeholder > div:first-child{
  display:none;
}
.fr-toolbar.fr-desktop{
  display:flex;
  border-top:none;
  border-radius:0;
}
.fr-placeholder{
  margin-top:0 !important;
}
.fr-wrapper{
  flex:1 1 100%;
  flex-basis:0;
}
.fr-box.fr-basic .fr-element{
  overflow:hidden;
  min-height:100%;
}
.fr-separator.fr-hs{
  display:none;
}

button.compress{
  display:none;
}
/*onucched*/
.onucched_number_list{
  max-width:70px;
  min-width:70px;
  display:none;
}
.onucched_number_list.show{
  display:block;
}
.onucched_list .list-group-item h5{
  font-weight:bold;
  color:#7b1fa2;
}
.onucched_list .list-group-item .btn-group button{
  border:1px solid #eee;
}
.onucched_list .list-group-item .btn-group button i{
  vertical-align:middle;
}
.onucched_list .list-group-item{
  padding:0;
  margin-bottom:10px;
}
.onucched_list .list-group-item .btn-group{
  visibility:hidden;
  transition:all 0.3s;
  opacity:0;
}
.onucched_list .list-group-item:hover .btn-group{
  visibility:visible;
  opacity:1;
}
/*onucched*/

.card.full-screen{
  position:fixed;
  width:100%;
  height:calc(100% - 50px);
  top:0;
  z-index:9999;
  left:0;
}
.card button.compress{
  display:none;
}
.card.full-screen button.compress{
  display:block;
}
.card.full-screen button.expand{
  display:none;
}

.animate{
  animation:up_down 0.8s infinite;
  position:absolute;
}
@keyframes up_down{
  0%{
    margin-top:0;
  }
  50%{
    margin-top:-10px;
  }
  100%{
    margin-top:0;
  }
}

#note-bottom.small .card-footer button.btn span{
  display:block;
}

@media all and (max-width:1100px){
  #note-bottom .card-footer button.btn span{
    display:none;
  }

  #note-bottom .full-screen .card-footer button.btn span{
    display:block;
  }
}

/*note*/
.note_signature .card-text{
  margin-bottom:0;
}
/*note*/

/*file_uploader*/
.attachment_upload{
  display:none;
}
.attachment_upload img{
  max-height:50px;
}
/*file_uploader*/

#notansho.full-screen{
  position:fixed;
  top:0;
  width:100% !important;
  height:100%;
  z-index:99999;
  left:0;
}
#notansho.full-screen .card-columns{
  -webkit-column-count:6;
  -moz-column-count:6;
  column-count:6;
}
.ch-style-2{
  background-color:#9755b0;
  color:#fff;
}
#notansho_tab .hidden{
  display:none;
}
.note_list:not(.checked) .list-group-item.active:after{
  content:"📌";
  position:absolute;
  right:0px;
}

.slides .btn-toolbar{
  position:relative;
  left:0;
}
.potroview{
  position:relative;
}
.potroview svg{
  vertical-align:top;
}


.navButtons{position:absolute;width:100%;z-index:999;top:50%;}


.style-2 .nothi-sidebar{background-color:lightgreen;}
.style-3 .nothi-sidebar{background-color:lightblue;}

.style-2 .list-group-item-danger-on{background-color:gray;}
.style-3 .list-group-item-danger-on{background-color:orangered;}

.navButtons i{cursor:pointer;transition:all .3s;}

.navButtons i:hover{color:gray;}

.update-notice.hide .notice-message{
  display:none;
}
.update-notice.hide{
  padding:5px 0;
}
.update-notice.hide .notice-count{
  margin:auto;
}

.file_wrap {position:relative;width:100px;}
.file_wrap img{width:100%;height:50px;object-fit:cover;}
.file_wrap i.fa{position:absolute;right:0;top:0;cursor:pointer;padding:3px 5px;background:rgba(0,0,0,.4);transition:all .3s;visibility:hidden;opacity:0;color:#ddd;}
.file_wrap:hover i.fa{visibility:visible;opacity:1;}
.file_wrap i.fa:hover{background:rgba(0,0,0,.8)}
.office_search span.hidden{display:none;}
.office_search{font-size:16px;}
.search_advanced{display:none;}
.btn-clean{background:transparent;padding:0;margin:0;border-radius:50%;border:0;line-height:1;}
.btn-clean:focus,.btn-clean:hover{outline:none;}
.modal-xl{width:1100px;max-width:90%;}
.office-seal i.fa{color:#aaa;}
.office-seal .card-header{cursor:pointer;}

.modal-body {
  height: calc(100vh - 300px);
  overflow:hidden;
}
.cPointer{cursor:pointer;}




.btn-primary-bar{
  border-right:1px solid #f1f1f1;
  background: #36a9e1;
  background: -moz-linear-gradient(left,  #36a9e1 0%, #36a9e1 5px, #f1f1f1 5px, #f1f1f1 100%);
  background: -webkit-linear-gradient(left,  #36a9e1 0%,#36a9e1 5px,#f1f1f1 5px,#f1f1f1 100%);
  background: linear-gradient(to right,  #36a9e1 0%,#36a9e1 5px,#f1f1f1 5px,#f1f1f1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#36a9e1', endColorstr='#f1f1f1',GradientType=0 );
}
.btn-danger-bar{
  border-right:1px solid #f1f1f1;
  background: #36a9e1;
  background: -moz-linear-gradient(left,  #ff5454 0%, #ff5454 5px, #f1f1f1 5px, #f1f1f1 100%);
  background: -webkit-linear-gradient(left,  #ff5454 0%,#ff5454 5px,#f1f1f1 5px,#f1f1f1 100%);
  background: linear-gradient(to right,  #ff5454 0%,#ff5454 5px,#f1f1f1 5px,#f1f1f1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#36a9e1', endColorstr='#f1f1f1',GradientType=0 );
}

.btn-success-bar{
  border-right:1px solid #f1f1f1;
  background: #36a9e1;
  background: -moz-linear-gradient(left,  #bdea74 0%, #bdea74 5px, #f1f1f1 5px, #f1f1f1 100%);
  background: -webkit-linear-gradient(left,  #bdea74 0%,#bdea74 5px,#f1f1f1 5px,#f1f1f1 100%);
  background: linear-gradient(to right,  #bdea74 0%,#bdea74 5px,#f1f1f1 5px,#f1f1f1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#36a9e1', endColorstr='#f1f1f1',GradientType=0 );
}
.btn-violate-bar{
  border-right:1px solid #f1f1f1;
  background: #36a9e1;
  background: -moz-linear-gradient(left,  #683091 0%, #683091 5px, #f1f1f1 5px, #f1f1f1 100%);
  background: -webkit-linear-gradient(left,  #683091 0%,#683091 5px,#f1f1f1 5px,#f1f1f1 100%);
  background: linear-gradient(to right,  #683091 0%,#683091 5px,#f1f1f1 5px,#f1f1f1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#36a9e1', endColorstr='#f1f1f1',GradientType=0 );
}

.splitted_wrap{position:fixed;right:20px;bottom:60px;z-index:99999;}
.splitted_notes{width:1000px;height:800px;position:absolute;bottom:100%;right:100%;box-shadow:0 0 3px #000;visibility:hidden;opacity:0;}
.splitted_wrap.show .splitted_notes{visibility:visible;opacity:1;}
.split_toggler{width:80px;height:80px;}

.list-group-item.list-item-bg{
  border-right:1px solid #f1f1f1;
  background: #36a9e1;
  background: -moz-linear-gradient(left,  #683091 0%, #683091 5px, #f1f1f1 5px, #f1f1f1 100%);
  background: -webkit-linear-gradient(left,  #683091 0%,#683091 5px,#f1f1f1 5px,#f1f1f1 100%);
  background: linear-gradient(to right,  #683091 0%,#683091 5px,#f1f1f1 5px,#f1f1f1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#36a9e1', endColorstr='#f1f1f1',GradientType=0 );
}
.list-group-item.list-item-bg.activeBg{
  border-right:1px solid #f1f1f1;
  background: #36a9e1;
  background: -moz-linear-gradient(left,  #2d8f3c 0%, #2d8f3c 5px, #f1f1f1 5px, #f1f1f1 100%);
  background: -webkit-linear-gradient(left,  #2d8f3c 0%,#2d8f3c 5px,#f1f1f1 5px,#f1f1f1 100%);
  background: linear-gradient(to right,  #2d8f3c 0%,#2d8f3c 5px,#f1f1f1 5px,#f1f1f1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#36a9e1', endColorstr='#f1f1f1',GradientType=0 );
}
.list-group-item{padding:5px 12px;}




.editor{position:relative;}
.editor .find_data{position:absolute;visibility:hidden;opacity:0;width:300px;left:0;right:0;margin:auto;z-index:999;}
.editor.editing .find_data{visibility:visible;opacity:1;}
