.pretty-split-pane-frame {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
}

.pretty-split-pane-frame .split-pane > .split-pane-divider.dragged.touch {
	background: blue;
	opacity: 0.25;
}

.pretty-split-pane-component-inner {
	box-sizing: border-box;
	background: white;
	width: 100%;
	height: 100%;
	overflow: hidden;
    position: absolute;
}
