.linear{padding: 0;margin: 0;}
.linear li{display: inline-block;text-align: center;border: 1px solid rgba(0,0,0,.2);vertical-align: top;padding: 5px 10px;}
.signature{padding: 0;}
.signature li{display: inline-block;}
.search-note a{display: block}
.section-heading{background: #1BA39C;color: #fff;padding: 5px 10px;}
.search-note{text-align: center;}
.search-note a{padding: 3px 10px;color: #fff;}
.search-note a:nth-child(1){background: lightgray;color: #333;}
.search-note a:nth-child(2){background: #8E44AD}
.search-note a:nth-child(3){background: #fff;color: #333;}
.search-note a:nth-child(4){background: #45B6AF}
.search-note a:nth-child(5){background: #F3565D}

.m-layout-flex{position: absolute;width: 100%;height: 100%;top: 0;left: 0;}
.wp-100{width: 100%;}
.flex-auto{flex: auto;}
.area-buttons .btn-sm{padding: 0;width: 24px;height: 24px;position: relative;}
.min-h{min-height: 200px;}
.max-h{max-height: 200px;}
.pScroll{position: relative;height: 100%;}


.m-full-content{height: 100%;}




#split-component {
    height: 100%;
}

#left-component {
    width: 50%;
}

#vertical-divider {
    left: 50%;
    width: 5px;
}

#right-component {
    left: 50%;
    margin-left: 5px;
}

#top-component {
    margin-bottom: 5px;
}

#horizontal-divider {
    bottom: 100px;
    height: 5px;
    background: #fff;
    box-shadow: 0 -2px 5px -3px #333 inset;
}


#horizontal-divider,
#top-component {
    bottom: 70px;
}
#bottom-component {
    height: 70px;
}
.note-toolbar-wrapper{display: none;}
.note-editor.note-frame{width: 100%;}


#right-component .pretty-split-inner{height: calc(100% - 40px)}
#right-component .tab-content{height: 100%;}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
.resizer{position: absolute;right: 60px;width: 200px;}
.resizer input{width: 20%;float: left;margin-left: 2px;border: none;text-align: center;}
.resizer input::placeholder{font-size: 10px;text-align: center;text-transform: capitalize;}




ul{list-style: none;padding-left: 0;}
.btn-area{display: none;padding: 5px;width: 100%;left: 0;bottom: 0;position: absolute;background: #fff;}
.tab-content{padding: 30px;}
.nav.nav-tabs{padding-left: 30px;}


.area-head{min-height: 40px;}
#section-to-print{position: absolute;}

.message-append{margin: 0;width: 210mm;padding: 0;}





@media print {

    html, body {
        width: 210mm;
        height: 297mm;
    }
    body * {
        visibility: hidden;
    }
    #section-to-print, #section-to-print * {
        visibility: visible;
    }
    #section-to-print {
        position: absolute;
        left: 0;
        top: 0;
        overflow: hidden;
    }
}
@page {
    size: A4;
}
