<div class="portlet light">
    <div class="portlet-title">
        <div class="caption"><i class=""></i>Organization List</div>
        <div class="tools">
            <a href="javascript:" class="collapse"></a>
            <a href="#portlet-config" data-toggle="modal" class="config"></a>
            <a href="javascript:" class="reload"></a>
            <a href="javascript:" class="remove"></a>
        </div>
    </div>
    <div class="portlet-window-body">
        <?= $this->Html->link('Add New Organization', ['action' => 'newOffice'], ['class' => 'btn btn-default']) ?>
        <br><br>

        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Organization Title</th>
                <th>Address</th>
                <th>About</th>
                <th>Web URL</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>

            <?php
            foreach ($query as $rows):
            ?>
            <tr>
                <td><?php echo $rows['org_tile_eng']; ?></td>
                <td><?php echo $rows['address']; ?></td>
                <td><?php echo $rows['about_info']; ?></td>
                <td><?php echo $rows['web_url']; ?></td>
                <td><?php echo $rows['status']; ?></td>
                <td>
                    <?= $this->Form->postLink(
                        'Delete',
                        ['action' => 'delete', $rows->id],
                        ['class' => 'btn btn-danger'],
                        ['confirm' => 'Are you sure to delete this item?'])
                    ?>
                    <?= $this->Html->link('Edit', ['action' => 'edit', $rows->id], ['class' => 'btn btn-primary']) ?>
                    <?= $this->Html->link('View', ['action' => 'view', $rows->id], ['class' => 'btn btn-success']) ?>

                </td>
                <?php
                endforeach;
                ?>
            </tr>
            </tbody>
        </table>
    </div>
</div>
