<div class="">
    <div class="row">
        <div class="col-md-12 page-500">
            <div class=" number">
                Sorry!
            </div>
            <div class=" details">
                <h3>Access Denied.</h3>

                <p>
                    You are not authorized to access this resource!<br/>
                    Please contact with the administrator.<br/>
                    Thank You.
                    <br/>
                </p>
            </div>
        </div>
    </div>
</div>